@font-face {
  font-family: 'FontAwesome';
  src: url("../../core/css/cosmo-default/fonts/fontawesome-webfont.eot");
  src: url("../../core/css/cosmo-default/fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../../core/css/cosmo-default/fonts/fontawesome-webfont.woff") format("woff"), url("../../core/css/cosmo-default/fonts/fontawesome-webfont.ttf") format("truetype"), url("../../core/css/cosmo-default/fonts/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
.app-dot-net-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #898d90;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in; }
  .app-dot-net-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .app-dot-net-square:hover {
    background-color: #6f7477;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .app-dot-net-square:hover i {
      color: white; }

.dribbble-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #ea4c89;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in; }
  .dribbble-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .dribbble-square:hover {
    background-color: #e51e6b;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .dribbble-square:hover i {
      color: white; }

.facebook-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #3b5998;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in; }
  .facebook-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .facebook-square:hover {
    background-color: #2d4373;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .facebook-square:hover i {
      color: white; }

.flickr-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #0063db;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in; }
  .flickr-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .flickr-square:hover {
    background-color: #004ca8;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .flickr-square:hover i {
      color: white; }

.foursquare-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #2398c9;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in; }
  .foursquare-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .foursquare-square:hover {
    background-color: #1b779e;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .foursquare-square:hover i {
      color: white; }

.github-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #4183c4;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in; }
  .github-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .github-square:hover {
    background-color: #3269a0;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .github-square:hover i {
      color: white; }

.google-plus-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #d14836;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in; }
  .google-plus-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .google-plus-square:hover {
    background-color: #ad3727;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .google-plus-square:hover i {
      color: white; }

.instagram-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #3f729b;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in; }
  .instagram-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .instagram-square:hover {
    background-color: #305777;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .instagram-square:hover i {
      color: white; }

.linkedin-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #007fb1;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in; }
  .linkedin-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .linkedin-square:hover {
    background-color: #005a7e;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .linkedin-square:hover i {
      color: white; }

.pinterest-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #cb2027;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in; }
  .pinterest-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .pinterest-square:hover {
    background-color: #9f191f;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .pinterest-square:hover i {
      color: white; }

.skype-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #00aff0;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in; }
  .skype-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .skype-square:hover {
    background-color: #008abd;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .skype-square:hover i {
      color: white; }

.stack-overflow-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #f47920;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in; }
  .stack-overflow-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .stack-overflow-square:hover {
    background-color: #d6600b;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .stack-overflow-square:hover i {
      color: white; }

.tumblr-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #2c4762;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in; }
  .tumblr-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .tumblr-square:hover {
    background-color: #1c2d3f;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .tumblr-square:hover i {
      color: white; }

.twitter-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #00aced;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in; }
  .twitter-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .twitter-square:hover {
    background-color: #0087ba;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .twitter-square:hover i {
      color: white; }

.vimeo-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #44bbff;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in; }
  .vimeo-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .vimeo-square:hover {
    background-color: #11a8ff;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .vimeo-square:hover i {
      color: white; }

.youtube-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #cd332d;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in; }
  .youtube-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .youtube-square:hover {
    background-color: #a32924;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .youtube-square:hover i {
      color: white; }

.app-dot-net-rounded-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #898d90;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: .2em; }
  .app-dot-net-rounded-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .app-dot-net-rounded-square:hover {
    background-color: #6f7477;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .app-dot-net-rounded-square:hover i {
      color: white; }

.dribbble-rounded-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #ea4c89;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: .2em; }
  .dribbble-rounded-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .dribbble-rounded-square:hover {
    background-color: #e51e6b;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .dribbble-rounded-square:hover i {
      color: white; }

.facebook-rounded-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #3b5998;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: .2em; }
  .facebook-rounded-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .facebook-rounded-square:hover {
    background-color: #2d4373;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .facebook-rounded-square:hover i {
      color: white; }

.flickr-rounded-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #0063db;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: .2em; }
  .flickr-rounded-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .flickr-rounded-square:hover {
    background-color: #004ca8;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .flickr-rounded-square:hover i {
      color: white; }

.foursquare-rounded-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #2398c9;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: .2em; }
  .foursquare-rounded-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .foursquare-rounded-square:hover {
    background-color: #1b779e;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .foursquare-rounded-square:hover i {
      color: white; }

.github-rounded-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #4183c4;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: .2em; }
  .github-rounded-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .github-rounded-square:hover {
    background-color: #3269a0;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .github-rounded-square:hover i {
      color: white; }

.google-plus-rounded-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #d14836;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: .2em; }
  .google-plus-rounded-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .google-plus-rounded-square:hover {
    background-color: #ad3727;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .google-plus-rounded-square:hover i {
      color: white; }

.instagram-rounded-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #3f729b;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: .2em; }
  .instagram-rounded-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .instagram-rounded-square:hover {
    background-color: #305777;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .instagram-rounded-square:hover i {
      color: white; }

.linkedin-rounded-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #007fb1;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: .2em; }
  .linkedin-rounded-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .linkedin-rounded-square:hover {
    background-color: #005a7e;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .linkedin-rounded-square:hover i {
      color: white; }

.pinterest-rounded-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #cb2027;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: .2em; }
  .pinterest-rounded-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .pinterest-rounded-square:hover {
    background-color: #9f191f;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .pinterest-rounded-square:hover i {
      color: white; }

.skype-rounded-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #00aff0;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: .2em; }
  .skype-rounded-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .skype-rounded-square:hover {
    background-color: #008abd;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .skype-rounded-square:hover i {
      color: white; }

.stack-overflow-rounded-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #f47920;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: .2em; }
  .stack-overflow-rounded-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .stack-overflow-rounded-square:hover {
    background-color: #d6600b;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .stack-overflow-rounded-square:hover i {
      color: white; }

.tumblr-rounded-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #2c4762;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: .2em; }
  .tumblr-rounded-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .tumblr-rounded-square:hover {
    background-color: #1c2d3f;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .tumblr-rounded-square:hover i {
      color: white; }

.twitter-rounded-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #00aced;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: .2em; }
  .twitter-rounded-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .twitter-rounded-square:hover {
    background-color: #0087ba;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .twitter-rounded-square:hover i {
      color: white; }

.vimeo-rounded-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #44bbff;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: .2em; }
  .vimeo-rounded-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .vimeo-rounded-square:hover {
    background-color: #11a8ff;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .vimeo-rounded-square:hover i {
      color: white; }

.youtube-rounded-square {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #cd332d;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: .2em; }
  .youtube-rounded-square i {
    margin-top: 0.25em;
    font-size: 2em;
    color: white; }
  .youtube-rounded-square:hover {
    background-color: #a32924;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .youtube-rounded-square:hover i {
      color: white; }

.app-dot-net-circle {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #898d90;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: 2em; }
  .app-dot-net-circle i {
    margin-top: 0.5em;
    font-size: 2em;
    color: white; }
  .app-dot-net-circle:hover {
    background-color: #6f7477;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .app-dot-net-circle:hover i {
      color: white; }
  .app-dot-net-circle i {
    font-size: 1.5em; }

.dribbble-circle {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #ea4c89;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: 2em; }
  .dribbble-circle i {
    margin-top: 0.5em;
    font-size: 2em;
    color: white; }
  .dribbble-circle:hover {
    background-color: #e51e6b;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .dribbble-circle:hover i {
      color: white; }
  .dribbble-circle i {
    font-size: 1.5em; }

.facebook-circle {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #3b5998;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: 2em; }
  .facebook-circle i {
    margin-top: 0.5em;
    font-size: 2em;
    color: white; }
  .facebook-circle:hover {
    background-color: #2d4373;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .facebook-circle:hover i {
      color: white; }
  .facebook-circle i {
    font-size: 1.5em; }

.flickr-circle {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #0063db;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: 2em; }
  .flickr-circle i {
    margin-top: 0.5em;
    font-size: 2em;
    color: white; }
  .flickr-circle:hover {
    background-color: #004ca8;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .flickr-circle:hover i {
      color: white; }
  .flickr-circle i {
    font-size: 1.5em; }

.foursquare-circle {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #2398c9;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: 2em; }
  .foursquare-circle i {
    margin-top: 0.5em;
    font-size: 2em;
    color: white; }
  .foursquare-circle:hover {
    background-color: #1b779e;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .foursquare-circle:hover i {
      color: white; }
  .foursquare-circle i {
    font-size: 1.5em; }

.github-circle {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #4183c4;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: 2em; }
  .github-circle i {
    margin-top: 0.5em;
    font-size: 2em;
    color: white; }
  .github-circle:hover {
    background-color: #3269a0;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .github-circle:hover i {
      color: white; }
  .github-circle i {
    font-size: 1.5em; }

.google-plus-circle {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #d14836;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: 2em; }
  .google-plus-circle i {
    margin-top: 0.5em;
    font-size: 2em;
    color: white; }
  .google-plus-circle:hover {
    background-color: #ad3727;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .google-plus-circle:hover i {
      color: white; }
  .google-plus-circle i {
    font-size: 1.5em; }

.instagram-circle {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #3f729b;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: 2em; }
  .instagram-circle i {
    margin-top: 0.5em;
    font-size: 2em;
    color: white; }
  .instagram-circle:hover {
    background-color: #305777;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .instagram-circle:hover i {
      color: white; }
  .instagram-circle i {
    font-size: 1.5em; }

.linkedin-circle {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #007fb1;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: 2em; }
  .linkedin-circle i {
    margin-top: 0.5em;
    font-size: 2em;
    color: white; }
  .linkedin-circle:hover {
    background-color: #005a7e;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .linkedin-circle:hover i {
      color: white; }
  .linkedin-circle i {
    font-size: 1.5em; }

.pinterest-circle {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #cb2027;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: 2em; }
  .pinterest-circle i {
    margin-top: 0.5em;
    font-size: 2em;
    color: white; }
  .pinterest-circle:hover {
    background-color: #9f191f;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .pinterest-circle:hover i {
      color: white; }
  .pinterest-circle i {
    font-size: 1.5em; }

.skype-circle {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #00aff0;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: 2em; }
  .skype-circle i {
    margin-top: 0.5em;
    font-size: 2em;
    color: white; }
  .skype-circle:hover {
    background-color: #008abd;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .skype-circle:hover i {
      color: white; }
  .skype-circle i {
    font-size: 1.5em; }

.stack-overflow-circle {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #f47920;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: 2em; }
  .stack-overflow-circle i {
    margin-top: 0.5em;
    font-size: 2em;
    color: white; }
  .stack-overflow-circle:hover {
    background-color: #d6600b;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .stack-overflow-circle:hover i {
      color: white; }
  .stack-overflow-circle i {
    font-size: 1.5em; }

.tumblr-circle {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #2c4762;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: 2em; }
  .tumblr-circle i {
    margin-top: 0.5em;
    font-size: 2em;
    color: white; }
  .tumblr-circle:hover {
    background-color: #1c2d3f;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .tumblr-circle:hover i {
      color: white; }
  .tumblr-circle i {
    font-size: 1.5em; }

.twitter-circle {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #00aced;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: 2em; }
  .twitter-circle i {
    margin-top: 0.5em;
    font-size: 2em;
    color: white; }
  .twitter-circle:hover {
    background-color: #0087ba;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .twitter-circle:hover i {
      color: white; }
  .twitter-circle i {
    font-size: 1.5em; }

.vimeo-circle {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #44bbff;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: 2em; }
  .vimeo-circle i {
    margin-top: 0.5em;
    font-size: 2em;
    color: white; }
  .vimeo-circle:hover {
    background-color: #11a8ff;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .vimeo-circle:hover i {
      color: white; }
  .vimeo-circle i {
    font-size: 1.5em; }

.youtube-circle {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #cd332d;
  color: white;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  border-radius: 2em; }
  .youtube-circle i {
    margin-top: 0.5em;
    font-size: 2em;
    color: white; }
  .youtube-circle:hover {
    background-color: #a32924;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    .youtube-circle:hover i {
      color: white; }
  .youtube-circle i {
    font-size: 1.5em; }
