$col-one: 0 0 6.77966%;
$col-two: 0 0 15.25424%;
$col-three: 0 0 23.72881%;
$col-four: 0 0 32.20339%;
$col-five: 0 0 40.67797%;
$col-six: 0 0 50%;
$col-seven: 0 0 57.62712%;
$col-eight: 0 0 66.66667%;
$col-nine: 0 0 75%;
$col-ten: 0 0 83.05085%;
$col-eleven: 0 0 91.52542%;
$col-twelve: 0 0 100%;

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 68.75rem;
    margin: 0 auto;
    padding-left: size(20);
    padding-right: size(20);

    @media #{$bp-epsilon} {
        padding-left: 0;
        padding-right: 0;
    }

    section {
        width: 100%;
    }
}

.container--flex {
    display: flex;
    flex-wrap: wrap;
}

.row-horz {
    flex-direction: row;
}

.site-content {
  flex: 1;
}
