// setup easy margin/padding sass-map
$size: (
    5: .313rem,
    10: .625rem,
    15: .938rem,
    20: 1.25rem,
    25: 1.563rem,
    30: 1.875rem,
);

@function size($dimension) {
  @if map-has-key($size, $dimension) {
    @return map-get($size, $dimension);
  }

  @return null;
}

@mixin center {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.center {
    @include center;
}

.pad-horz {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @media #{$bp-beta} {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.pad-vert {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;

    @media #{$bp-beta} {
        padding-bottom: 4rem;
        padding-top: 4rem;
    }
}

.marg-horz {
    margin-left: 1.5rem;
    margin-right: 1.5rem;

    @media #{$bp-beta} {
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

.marg-vert {
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.width--full {
    width: 100%;
}
