$bp-alpha: "only screen and (min-width : 480px)";
$bp-alpha--end: "(max-width : 767px)";
$bp-beta: "only screen and (min-width : 768px)";
$bp-beta--end: "(max-width : 1023px)";
$bp-gamma: "only screen and (min-width : 1024px)";
$bp-gamma--end: "(max-width : 1170px)";
$bp-delta: "only screen and (min-width: 1171px)";
$bp-delta--end: "(max-width: 1223px)";
$bp-epsilon: "only screen and (min-width : 1224px)";
