.blocks {

    .blk-code {
        @extend input;
        border: 1px solid palette(gray, mid--light);
        height: 18.75rem;
        overflow: scroll;
    }

    .page-select{
        display: inline-block;
        margin-right: size(10);

        label {
            margin-bottom: 0;
        }
    }

    .search {
        margin-bottom: 0;
    }
}
