// styling the options-button within the modal
%modal--options-button {
    border: 1px solid palette(blue, dark);

    &:focus {
        background-color: palette(blue, dark);
        color: palette(gray, light);
    }

    &:hover {
        background-color: palette(gray, light);
        color: palette(gray, light);
    }
}

// padding/margins and overall layout with top bar info

// similar to bar-top, but for the modal window
.modal--bar-top {
    background-color: palette(blue, dark);
    height: auto;
    margin: 0 auto;
    padding: 0 size(25);
    position: fixed;
    width: 100%;
    z-index: z(minimal);

    @media #{$bp-beta} {
        width: 43.75rem;
    }

    @media #{$bp-gamma} {
        width: 59.375rem;
    }

    h1, h2 {
        color: palette(gray, white);
    }

    h1 {
        margin-left: size(5);
    }

    h1.no-marg {
        margin-left: 0;
    }

    i {
        color: palette(gray, light);

        &:hover {
            color: palette(blue, light);
        }
    }

    .btn-success {
        border-color: palette(blue, mid);
        color: white;

        &:hover {
            background-color: palette(blue, mid);
            border-color: palette(blue, mid);
        }
    }

    .no-marg {
        margin-bottom: 0;
    }
}

// search bar
.modal--bar-top input.search-bar {
    @include placeholder { color: palette(gray, light); }
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid palette(gray, light);
    box-sizing: border-box;
    color: palette(gray, white);
    margin-bottom: 0;
    width: 100%;

    &:focus {
        color: palette(gray, xlight);
    }

    @media #{$bp-beta} {
        width: 15rem;
    }
}

// initial options to update the image / gallery ("add media", "upload")
.modal--bar-top .options {
    display: block;
    margin-left: 0;

    @media #{$bp-beta} {
        display: inline-block;
        margin-left: 1.5rem;
    }

    button {
        margin-bottom: size(10);
    }

    .success-button, .error-button {
        border: 1px solid palette(blue, dark);
    }

    .upload {
        display: block;
        margin-top: 1.5rem;
        width: 100%;

        @media #{$bp-beta} {
            display: inline-block;
            margin: 0;
            position: absolute;
            right: 2rem;
            top: .8rem;
            width: auto;
        }
    }

    .cos-select {
        background-color: palette(blue, mid);
        border-color: palette(blue, mid);
        color: palette(gray, light);
        display: inline-block;
        height: 2.4rem;
        margin-bottom: 0;
        margin-top: 1.5rem;
        width: 100%;

        select {
            height: 2.3rem;
        }

        @media #{$bp-beta} {
            margin-top: -.4rem;
            width: 8rem;
        }
    }
}

// case to hold all the images in place within .ngdialog-content
.media-wrapper {
    background-color: palette(gray, light);
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 14rem;
    width: 100%;

    @media #{$bp-beta} {
        top: 7.813rem;
    }

    .success-button {
        margin-bottom: 0;
    }
}

// wrapper to hold elements and push down below the bar-top within .media-wrapper
.gallery-media-wrapper {
    @extend .media-wrapper;
    top: 15rem;

    @media #{$bp-beta} {
        top: 4rem;
    }

    button.options-button {
        margin-top: .65rem;
        width: 100%;
    }
}

// padding/margins for browse area
.media-holder {
    background-color: palette(gray, light);
    overflow-y: scroll;
    padding: size(25);

    .btn-options {
        margin: 0;
        width: 100%;
    }
}


// styling to keep each image/video at correct proportions
.media-tile {
    display: inline-block;
    margin: 0 size(25) * .5 size(25) * .5 0;
    text-align: center;
    vertical-align: top;
    width: 100%;

    @media #{$bp-beta} {
        height: 13.55rem;
        overflow: hidden;
        width: 48.5%;

        &:nth-child(even) {
            margin-right: 0;
        }

        &:nth-child(odd) {
            margin-right: 1.2rem;
        }
    }

    @media #{$bp-gamma} {
        height: 19rem;

        &:nth-child(odd) {
            margin-right: size(25);
        }
    }

    i {
        color: palette(blue, dark);
        font-size: 10em;
        margin-top: size(15);

        @media #{$bp-beta} {
            font-size: 7.5em;
            margin-top: 0;
        }
    }

    img {
        height: auto;

        @media #{$bp-beta} {
            min-height: 13.55rem;
            min-width: 100%;
        }

        @media #{$bp-gamma} {
            min-height: 19rem;
        }
    }
}

// preview of files currently being used as a single image or in the gallery
.img-gallery {
    display: inline-block;
    margin: 0 size(25) 2rem size(25);
    vertical-align: top;
    width: auto;

    @media #{$bp-beta} {
        width: 33%;
    }

    img {
        @media #{$bp-beta} {
            width: 100%;
        }
    }
}

// holder for info (css classes, links etc..) related to .img-gallery
.img-gallery-info {
    margin-left: size(25);
    overflow: hidden;
    padding-right: 2rem;
    width: auto;

    @media #{$bp-beta} {
        display: inline-block;
        margin: 0 0 2rem 0;
        vertical-align: top;
        width: 53%;
    }

    @media #{$bp-gamma} {
        overflow: hidden;
        width: 61%;
    }

    p {
        margin-bottom: 1.5rem;
    }

    .tag {
        background-color: palette(gray, mid);
        color: palette(blue, dark);
        display: inline-block;
        height: auto;
        margin: 0 size(10) 2rem size(10);
        padding: size(5) size(10) .75rem size(10);
        width: auto;

        &:first-child {
            margin-left: 0;
        }

        &:hover {
            cursor: default;
            color: palette(blue, dark);
        }

        .fa-tag {
            margin-right: size(5);
            vertical-align: middle;
        }
    }
}
