// holder for prev/next selection in the image preview/edit area
.nav {
    display: block;
    margin-top: 0;

    @media #{$bp-alpha} {
        display: inline-block;
        margin-left: size(5);
        margin-top: .75rem;
    }

    @media #{$bp-beta} {
        float: right;
    }

    .btn-options {
        border-color: palette(blue, light);
        color: palette(gray, light);

        &:hover {
            border-color: palette(blue, mid);
        }

        &:last-child {
            margin-right: 0;
        }

        @media #{$bp-alpha} {
            margin-bottom: 0;
        }
    }
}

// editing image information once an image has been selected
.img-edit {
    background-color: palette(gray, light);
    box-sizing: border-box;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: z(minimal);

    @media #{$bp-beta} {
        position: relative;
        width: 43.75rem;
    }

    @media #{$bp-gamma} {
        width: 59.375rem;
    }
}

// preview of the image within the editing area
.img-edit .img-prev {
    box-sizing: border-box;
    display: inline-block;
    height: auto;
    margin-bottom: 1.5rem;
    margin-top: 5.7rem;
    vertical-align: top;
    width: 100%;

    @media #{$bp-alpha} {
        margin-top: 2.6rem;
    }

    @media #{$bp-beta} {
        padding-left: size(25);
        margin-top: 5.1rem;
    }

    .img-size {
        box-sizing: border-box;
        padding: 0 size(25);
        width: 100%;

        @media #{$bp-beta} {
            display: inline-block;
            width: 52%;
            vertical-align: top;
        }

        input[type=radio] + label {
            display: block;
            text-align: left;
        }
    }

    img, iframe, video {
        width: 100%;

        @media #{$bp-beta} {
            width: 47%;
        }
    }
}

// text input area below the image preview
.img-edit .img-info {
    box-sizing: border-box;
    display: inline-block;
    margin-right: 2%;
    vertical-align: top;
    width: 100%;

    @media #{$bp-beta} {
        width: 48.5%;
    }

    input {
        width: 100%;
    }

    label {
        display: block;
    }

    &:last-child {
        margin-right: 0;
    }

    .btn-success {
        @extend %button;

        &:hover {
            background-color: palette(alert, success);
        }
    }
}

// holder for information to input in the img-edit area
.media-info {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 size(25) size(15) size(25);
    width: 100%;
}

// holder for file icons in the preview/edit view
.file-prev {
    background-color: palette(gray, mid);
    display: table;
    height: 16rem;
    margin: 0 auto;
    width: 100%;

    @media #{$bp-beta} {
        height: 18rem;

        i {
            vertical-align: top;
        }
    }

    @media #{$bp-gamma} {
        height: 28rem;
    }

    i {
        color: palette(blue, dark);
        display: table-cell;
        font-size: 6.25rem;
        vertical-align: middle;
    }
}
