.file--listed {
    background-color: palette(gray, light);
    border-bottom: 1px solid palette(gray, mid--light);
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;

    &:hover {
        cursor: move;
    }

    @media #{$bp-alpha} {
        div {
            flex: 1;
        }

        .form-case {
            flex: 1;
        }
    }

    p {
        overflow: hidden;
    }

    .bar--actions {
        background-color: transparent;
        flex: 0 0 100%;
        width: 100%;

        button {
            color: palette(blue, mid);

            &:hover {
                color: palette(gray, white);
            }
        }
    }

    .tag {
        display: block;
    }
}

.file--info {
    flex-wrap: wrap;

    button {
        flex: 0 0 50%;

        @media #{$bp-alpha} {
            flex: 1;
        }
    }
}

.file-prev--thumb {
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;

    .thumb {
        flex: 0 0 49.8%;
        height: 8.5rem;
        overflow: hidden;

        @media #{$bp-alpha--end} {
            &:nth-child(2n){
                margin-left: .07rem;
            }

            &:nth-child(n+3) {
                margin-top: .07rem;
            }
        }

        @media #{$bp-alpha} {
            flex: 0 0 33.1%;
            height: 12rem;
            margin-left: .06rem;

            &:nth-child(n+4) {
                margin-top: .06rem;
            }

            &:nth-child(3n+1){
                margin-left: 0;
            }
        }

        @media #{$bp-beta} {
            flex: 0 0 9.96rem;
            height: 9.96rem;
        }

        img {
            min-height: 12rem;
            min-width: 100%;
            width: auto;

            @media #{$bp-beta} {
                min-height: 9.96rem;
            }
        }
    }
}

.file-img--prev {
    margin-bottom: size(25);
}

.btn-file--prev {
    float: left;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;

    &:hover {
        background-color: transparent;
        color: palette(blue, light);
    }
}

.btn-file--next {
    @extend .btn-file--prev;
    float: right;
}

input[type='file'] {
    float: left;
    height: 20rem;
    margin: -19rem 0 0 0;
    opacity: 0;
    padding: 1.465rem;

    &:hover {
        cursor: pointer;
    }
}

.dropzone {
    background-color: palette(gray, light);
    border: 2px dashed palette(gray, mid--light);
    color: palette(gray, dark);
    height: 20rem;
    margin-left: .1rem;
    text-align: center;
    transition: all .25s ease;

    &:hover {
        background-color: palette(blue, light);
        border: 2px dashed palette(gray, light);
        color: palette(blue, light);

        h2 {
            color: palette(gray, light);
        }
    }

    &:active {
      @extend :hover;
    }

    h2 {
        color: palette(gray, mid--light);
        line-height: 17;
        transition: all .25s ease;
    }
}

.ng-file-over {
    border: 2px dashed palette(blue, light);
    transition: all .25s ease;
}
