.login {
    .form-case {
        padding: 5.5rem size(25) size(25) size(25);

        button {
            margin-bottom: 0;
        }
    }
}

div.form {
    width: 100%;

    @media #{$bp-beta} {
        display: inline-block;
        width: 49.5%;
    }
}
