.login {
    .form-case {
        padding: 5.5rem 1.563rem 0 1.563rem;

        button {
            margin-bottom: 0;
        }

        div.form {
            width: 100%;

            @media #{$bp-beta} {
                display: inline-block;
                width: 49.5%;
            }
        }
    }
}
