.login {
    .form-case {
        padding: 5.5rem size(25) size(25) size(25);

        button {
            margin-bottom: 0;
            width: 100%;
        }

        small {
            margin-top: size(20);
        }
    }
}
