label.type {
    margin-top: 1.5rem;
}

// alert when a newer version of the page has been saved
.new-version {
    background-color: palette(alert, warning);
    position: fixed;
    width: 100%;
    z-index: z(sidebar);

    @media #{$bp-beta} {
        width: 30rem;
    }

    p {
        color: palette(blue, dark);
        padding: 1.75rem 3rem 0 size(25);
    }

    .btn-case {
        padding: 1.25rem 0 size(25) size(25);
        margin-bottom: 0;
    }

    button {
        border: 1px solid palette(blue, dark);
    }
}

// confirmation on if you want to delete the page or not
.confirm {
    background-color: palette(alert, warning);
    margin: 0 -1.563rem 1.5rem -1.563rem;
    padding: size(25);

    button {
        border: 1px solid palette(blue, dark);
    }
}
