.revisions {

    button {
        display: block;
        margin-top: 1.5rem;
    }

    p.info {
        font-size: .875rem;
        margin-right: 1rem;

        i {
            font-size: .875rem;
            margin-right: .5rem;
        }
    }
}
