// sidebar for all of cosmo editing outside of the live editing done on page
.sidebar {
    background-color: palette(gray, xlight);
    bottom: 0;
    height: 100%;
    left: -100%;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    transition: left .3s ease;
    width: 100%;
    z-index: z(sidebar);

    @media #{$bp-beta} {
        left: -34rem;
        width: 30rem;
    }
}

// Sidebar transition to reveal sidebar from the left side of the screen.
//NEED TO CHANGE
.adminSidebarSlideOut {
    left: 0;
}


// active hamburger navigation before you open the sidebar
.hamburger {
    position: fixed;
    top: 25%;
    z-index: z(hamburger);

    .hamburger {
        background-color: palette(blue, light);
        left: 0;
        outline: none;
        padding: size(15);
        transition: background-color .15s ease, color .15s ease;

        &:hover {
            background-color: palette(blue, dark);
        }

        svg {
            height: 2.5rem;
            vertical-align: middle;
            width: 2.5rem;
        }
    }

    .close {
        color: palette(gray, light);
        left: -100%;
        opacity: 0;
        padding: 1size(5) 1.469rem;
        position: fixed;
        transition: opacity .3s ease .3s;
        z-index: z(sidebar);

        @media #{$bp-beta} {
            left: -28rem;
        }
    }
}

//NEED TO CHANGE *
.hamburgeractive {
    top: 0;

    .close {
        left: auto;
        opacity: 1;
        right: 1.25rem;
        top: 1.25rem;

        @media #{$bp-beta} {
            left: 27.25rem;
            right: auto;
        }
    }

    .hamburger {
        left: -28.5rem;
    }
}

// bar to be used at the top of each area of the sidebar
.bar-top {
    background-color: palette(blue, dark);
    height: 3.75rem;
    overflow: hidden;
    width: 100%;

    @media #{$bp-beta} {
        width: 30rem;
    }

    h1 {
        color: palette(gray, white);
        margin-left: size(5);
    }

    i {
        color: palette(gray, light);
        margin-left: size(25);

        &:hover {
            color: palette(blue, light);
        }
    }

    .active {
        color: palette(alert, warning);
  }
}

// username and logout styling for prfl-qk-view
.prfl-info {
    display: inline-block;
    font-size: .85rem;
    height: 3.75rem;
    margin-left: size(5);
    overflow: hidden;
    padding-top: .65rem;
    width: 7.813rem;
    vertical-align: top;

    p {
        color: palette(gray, white);
        font-size: 1rem;
        margin-bottom: 0;
    }

    a {
        color: palette(gray, light);
        font-size: .8rem;
        font-weight: 400;

        &:hover {
            color: palette(blue, light);
        }
    }
}

.prfl-img {
    background: center center no-repeat;
    background-size: cover;
    display: inline-block;
    height: 3.75rem;
    width: 3.75rem;
}

// case to adjust sides within the sidebar
.form-case {
    padding: size(25) size(25) 0 size(25);
}

// similar to .form-case, but with a border at the bottom
.form-case--border {
    border-bottom: 1px solid palette(gray, mid--light);
    padding: size(25);
}

.new-message--cosmo {
    background-color: palette(blue, light);
    color: palette(gray, light);
    padding: 1rem 1.913rem;
    position: relative;

    .message {
        display: inline-block;
        margin: 0;
        width: 90%;

        a {
            color: palette(blue, dark);
            font-weight: 400;

            &:hover {
                color: palette(gray, dark);
            }
        }
    }

    span {
        float: right;
    }
}
