/* sidebar for all of cosmo editing outside of the live editing done on page */
.sidebar {
    background-color: palette(gray, light);
    bottom: 0;
    height: 100%;
    left: -24rem;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    transition: left .3s ease;
    width: 20rem;
    z-index: z(sidebar);
}

/* Sidebar transition to reveal sidebar from the left side of the screen. */
/**NEED TO CHANGE **/
.adminSidebarSlideOut {
    left: 0;
}


/* active hamburger navigation before you open the sidebar */
.hamburger {
    position: fixed;
    top: 0;
    transition: left .3s ease;
    z-index: z(hamburger);

    .hamburger {
        background-color: palette(gray, light);
        border-bottom: 1px solid palette(gray, dark);
        border-right: 1px solid palette(gray, dark);
        outline: none;
        padding: .61rem;
        transition: background-color .15s ease, color .15s ease;

        &:hover {
            background-color: palette(blue, dark);
            color: palette(gray, light);

            .icon {
                fill: palette(gray, light);
            }
        }

        svg {
            height: 2.5rem;
            vertical-align: middle;
            width: 2.5rem;

        }
    }

    .close {
        color: palette(gray, light);
        margin-left: 0;
        padding: 1.313rem 1.469rem;
        position: absolute;
        left: -22rem;
        transition: left .3s ease;
        z-index: z(sidebar);
    }
}

/**NEED TO CHANGE **/
.hamburgeractive {

    .close {
        left: 16.25rem;
    }

    .hamburger {
        left: -22.5rem;
    }
}

/* bar to be used at the top of each area of the sidebar */
.bar-top {
    background-color: palette(blue, light);
    height: 3.75rem;
    overflow: hidden;
    width: 20rem;

    h1 {
        color: palette(gray, white);
        margin-left: .313rem;
    }

    h2 {
        color: palette(gray, white);
        width: 9.375rem;
    }

    i {
        color: palette(gray, light);
        margin-left: 1.563rem;

        &:hover {
            color: palette(blue, dark);
        }
    }

    img {
        height: 3.75rem;
        width: 3.75rem;
    }

    .active {
        color: palette(alert, warning);
  }
}

/* username and logout styling for prfl-qk-view */
.prfl-info {
    display: inline-block;
    font-size: .85rem;
    height: 3.125rem;
    margin-left: .313rem;
    overflow: hidden;
    width: 7.813rem;

    p {
        color: palette(gray, white);
        margin-bottom: 0;
    }

    a {
        color: palette(gray, light);
        font-weight: 700;

        &:hover {
            color: palette(blue, dark);
        }
    }
}

/* case to adjust sides within the sidebar */
.form-case {
    overflow-y: scroll;
    padding: 1.563rem 1.563rem 0 1.563rem;
}

/* similar to .form-case, but with a border at the bottom */
.form-case--border {
    border-bottom: 1px solid palette(gray, mid--dark);
    padding: 1.563rem;
}
