/* tag styling when editing or creating new pages */
.tag-suggestions {
    background-color: palette(gray, mid);
    padding: 1.563rem * .25;
    overflow-y: scroll;

    a {
        color: palette(blue, dark);
        display: block;
        font-weight: 700;
        padding: .313rem 0;

        &:hover {
            color: palette(gray, light);
        }
    }
}
