// for dropdowns used in the cosmo WYSIWYG editor
%wysiwyg-dropdown {
    background-color: palette(gray, xlight);
    border-radius: 5px;
    color: palette(blue, dark);
    display: block;
    height: auto;
    position: relative;
    width: 14.5rem;

    button {
        background-color: transparent;
        border: 0;
        border-radius: 5px;
        display: block;
        font-family: $font-alpha;
        outline: none;
        padding: 10px;
        text-align: left;
        width: 100%;

        &:hover {
            background-color: palette(gray, light);

            i {
                background-color: transparent;
                color: palette(blue, light);
            }
        }

        i {
            margin-right: .59rem;
            margin-top: -.2rem;
            vertical-align: middle;
        }
    }
}

// --------------------------------------- End Mixins ---------------------------------------

// full length bar for wysiwyg
.cosmo-toolbar-large {
    background-color: palette(gray, xlight);
    border-radius: 5px;
    color: palette(gray, light);
    cursor: pointer;
    font-size: .787em;
    height: 2.094rem;
    position: absolute;
    width: 13.594rem;
    z-index: z(hamburger);

    td,tr,hr {
        border: 1px solid palette(blue, dark);
    }

    i {
        color: palette(blue, dark);
        display: inline-block;
        font-size: .813rem;
        vertical-align: middle;

        &:hover {
            color: palette(blue, light);
        }
    }

    ul {
        display: block;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            padding: 0;
            border: 0;
            height: 34px;
            width: 1.438rem;

            &:after, &:before {
                display: none;
            }

            &:hover {
                background-color: transparent;
            }

            &:last-child {
                margin-bottom: 0;
            }

            button {
                background-color: transparent;
                border: 0;
                display: inline-block;
                height: 2.094rem;
                margin: 0;
                outline: none;
                padding-right: 0 0 0 .366rem;
                text-align: center;

                &:hover {

                    i {
                        color: palette(blue, light);
                    }
                }

                .text-alignment {
                    margin-top: -.25rem;
                }
            }
        }
    }
}

.type-dropdown {
    @extend %wysiwyg-dropdown;
    left: 0;
    width: 8.125rem;

    button {

        &:hover {
            color: palette(blue, light);
        }
    }


    .wysiwyg-u {
        font-family: monospace;
    }

    .wysiwyg-q {
        font-style: italic;
    }

    .wysiwyg-c {
        font-family: monospace;
    }

    .wysiwyg-h1 {
        font-size: 1.5em;
        font-weight: 600;
    }

    .wysiwyg-h2 {
        font-size: 1.4em;
        font-weight: 600;
    }

    .wysiwyg-h3 {
        font-size: 1.3em;
        font-weight: 600;
    }

    .wysiwyg-h4 {
        font-size: 1.2em;
        font-weight: 600;
    }

    .wysiwyg-h5 {
        font-size: 1.1em;
        font-weight: 600;
    }

    .wysiwyg-h6 {
        font-size: 1em;
        font-weight: 600;
    }
}

.format-dropdown {
    @extend %wysiwyg-dropdown;
    left: size(20);
    width: 9.063rem;
}

.link-dropdown {
    @extend %wysiwyg-dropdown;
    left: 2.813rem;
    width: 8.438rem;
}

.list-dropdown {
    @extend %wysiwyg-dropdown;
    left: 4.656rem;
    width: 9.6888rem;
}

.align-dropdown {
    @extend %wysiwyg-dropdown;
    left: 6.406rem;
    width: 8.281rem;
}


.table-dropdown {
    @extend %wysiwyg-dropdown;
    left: 8.031rem;
    width: 8.438rem;

    .divide {
        border-bottom: 1px solid palette(gray, mid--light);
        margin-bottom: .39075rem;
        padding-bottom: .7815rem;
    }
}

.table-dropdown--insert {
    @extend %wysiwyg-dropdown;
    left: -11.3rem;
    margin-top: -2.2rem;
    padding: .469rem .156rem .156rem .469rem;
    position: absolute;
    width: 10.75rem;


    p {
        margin: 0;
    }

    .cell-select {
        border: 1px solid palette(gray, mid--light);
        border-radius: 0;
        display: inline-block;
        height: .9rem;
        margin: 0 .156rem .156rem 0;
        padding: 0;
        width: .9rem;

        &:hover {
            background-color: palette(blue, light);
        }

        &:nth-child(10n) {
            margin-right: 0;
        }
    }

    .cell-select--focus {
        background-color: palette(blue, light);
        border: 1px solid palette(gray, mid--light);
        display: inline-block;
    }
}

.media-dropdown {
    @extend %wysiwyg-dropdown;
    left: 9.656rem;
    width: 9rem;
}

.code-dropdown {
    @extend %wysiwyg-dropdown;
    left: 11.469rem;
    width: 10rem;

    .directive-dropdown {
        background-color: palette(gray, light);
        border-radius: 0 0 5px 5px;
        border-top: 1px solid palette(gray, mid--light);

        button {
            padding-left: 15px;

            &:hover {
                background-color: palette(blue, light);
                border-radius: 0;
                color: palette(gray, light);
            }

            &:last-child:hover {
                border-radius: 0 0 5px 5px;
            }
        }
    }
}

pre {
    background-color: darken(palette(blue, dark), 15%);
    border: 1px solid palette(gray, mid);
    color: palette(gray, light);
    font-family: Consolas, Monaco, Lucida Console, Courier New;
    outline: none;
}

[contenteditable="true"] {
    border: 0;
    min-height: 2rem;
    outline: 0;
    transition: outline .2s ease;

    &:hover {
        outline: 1px solid palette(gray, mid);
    }

    img, iframe {

        &:hover {
            outline: 1px solid palette(gray, mid);
        }
    }
}
