<div ng-controller="pendantCtrl">
    <div ng-include="'themes/Pendant/partials/header.html'"></div>
    <main class="site-content">
        <section ng-repeat="post in posts | filter:'post' | limitTo:1" role="banner" class="banner--lrg" style="background-image: url({{post.featured}});">
            <div class="container">
                <div class="banner--title">
                    <a ng-href="{{post.url}}">
                        <h1>{{post.header}}</h1>
                    </a>
                    <h3>{{post.subheader}}</h3>
                    <div class="meta">
                        <div class="byline">
                            <span>By {{post.author.name || post.author.username}} on</span> <span>{{post.published_date * 1000 | date:'MM.dd.yyyy'}}</span> <span ng-repeat="tag in page.tags" class="tags">#{{tag}} </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="pad-vert">
            <section>
                <div cs-block="block1"></div>
            </section>
        </div>
    </main>
    <div ng-include="'themes/Pendant/partials/footer.html'"></div>
</div>
