// universal imports not tied directly to the cosmo admin theme
@import "global/reset";
@import "global/media-queries"; // media queries used for the modal
@import "global/fonts"; // load fonts and variables
@import "global/color"; // color maps
@import "global/_z-index"; // sass map and mixin for easy z-indexing
@import "global/alerts"; // alert notifications used for saved pages, errors etc..
@import "global/video"; // turns all videos uploaded (.avi, .mp4 etc...) into a responsive size
@import "global/tables"; //not used directly within cosmo, but a generic that's inserted within the WYSIWYG


@import "vendor/modal"; // modal window used for the gallery


// cosmo elements needed to be outside of the cosmo-default tag
@import "partials/wysiwyg"; // wysiwyg editor

html, body, [ng-include="template"] {
    height: 100%;

    [ng-href] {
        cursor: pointer;
    }
}

.cosmo-default {
    @import "global/margins-padding"; // easy margin/padding
    @import "global/type"; // general type and generic styling
    @import "global/lists"; // lists in all cosmo sidebar areas of cosmo
    @import "global/buttons";
    @import "global/radio-checkbox"; // styling for checkboxes and radio select styles
    @import "global/forms"; // actual form areas
    @import "global/global"; // NEED TO CHANGE

    @import "partials/login";
    @import "partials/profile";
    @import "partials/sidebar";
    @import "partials/settings";
    @import "partials/tags";
    @import "partials/page";
    @import "partials/users";
    @import "partials/roles";
    @import "partials/modules";
    @import "partials/revisions";
    @import "partials/themes";
    @import "partials/blocks";
    @import "partials/gallery"; // styling of the gallery modal
    @import "partials/gallery--edit"; // edit/preview styling for media
    @import "partials/gallery--upload"; // styling for form used in the gallery upload

    @import "vendor/menus"; // styling for menu reordering in sidebar
    @import "vendor/calendar"; // calendar used to schedule posts
}

.cosmo-theme {
    @import "partials/comments";
}
