/* animations for fade in and fade out of modal */

@keyframes ngdialog-fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes ngdialog-fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes ngdialog-flyin {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes ngdialog-flyout {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-40px);
    }
}

h1.no-marg {
    margin-left: 0;
}

.no-line {
    border-bottom: 0;
}

.ngdialog, .ngdialog *, .ngdialog *:before, .ngdialog *:after {
    box-sizing: border-box;
}

.ngdialog {
    bottom: 0;
    left: 0;
    overflow-scrolling: touch;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 11000;
}

.ngdialog-close {
    cursor: pointer;

    &:after {
        color: palette(blue, dark);
        content: '\f00d';
        font-family: $font-beta;
        position: fixed;
        right: 2.5rem;
        top: 1.35rem;
        z-index: 100001;
        @include font-size(17.5);

        @media #{$bp-beta} {
            color: palette(gray, light);
        }
    }
}

.ngdialog.ngdialog-closing .ngdialog-overlay {
    animation: ngdialog-fadeout 0.5s;
}



.ngdialog.ngdialog-closing .ngdialog-content {
    animation: ngdialog-fadeout 0.5s;
    backface-visibility: hidden;
}

body.ngdialog-open {
    overflow: hidden;
}

.ngdialog-content {
    animation: ngdialog-fadein 0.5s;
    backface-visibility: hidden;
    background-color: palette(gray, light);
    display: block;
    height: 100%;
    left: 0;
    margin: 0 auto;
    position: relative;
    width: 100%;

    @media #{$bp-beta} {
        left: auto;
        width: 62.3rem;
    }

    @media #{$bp-gamma} {
        width: 91.5rem;
    }

    button {
        margin-bottom: $pad-epsilon * .75;
    }

    .btncase {
        margin-left: 0;

        button {
            width: 100%;
            margin-right: 0;
        }
    }

    .info {
        color: palette(blue, light);
    }

    p {
        margin-bottom: $pad-epsilon;
    }
}


.ngdialog-overlay {
    animation: ngdialog-fadein 0.5s;
    background-color: palette(blue, dark--two-third);
    bottom: 0;
    height: 2000rem;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

/* page suggestions box for link adding */
.page-suggestions {
    color: palette(blue, light);
    margin-bottom: $pad-gamma;
    padding: $pad-alpha;

    &:hover {

        .Page {
            color: palette(blue, light);
        }
    }

    a {
        color: palette(gray, light);
        display: block;
        font-weight: 700;
    }
}

.page-suggestions-triangle {
    margin: -1.75rem 0 -.75rem .75rem;
    @include triangle(2rem, $color-delta, up);
}
