.modal--bar-top {
    background-color: palette(blue, light);
    height: auto;
    margin: 0 auto;
    padding: 0 0 .313rem 1.563rem;
    position: fixed;
    width: 100%;
    z-index: 100000;

    @media #{$bp-beta} {
        width: 43.75rem;
    }

    @media #{$bp-gamma} {
        width: 59.375rem;
    }

    h1, h2 {
        color: palette(gray, white);
    }

    h1 {
        margin-left: .313rem;
    }

    i {
        color: palette(gray, light);

        &:hover {
            color: palette(blue, dark);
        }
    }

    .no-marg {
        margin-bottom: 0;
    }

    .options-button {
        border: 1px solid palette(blue, dark);

        &:focus {
            background-color: palette(blue, dark);
            color: palette(gray, light);
        }

        &:hover {
            background-color: palette(blue, mid);
            color: palette(gray, light);
        }
    }

    .success-button, .error-button {
        border: 1px solid palette(blue, dark);
    }
}


.modal--bar-top input.search-bar {
    border: 0;
    border-bottom: 1px solid palette(gray, light);
    color: palette(gray, white);
    width: 91%;
    margin-bottom: .625rem;

    @media #{$bp-beta} {
        width: 35.625rem;
    }

    @media #{$bp-gamma} {
        margin-top: 1.5rem;
        width: 14rem;
    }
}

.modal--bar-top .options {
    display: block;
    margin-left: 0;

    @media #{$bp-alpha} {
        display: inline-block;
        margin-left: 1.5rem;
    }

    button {
        margin-bottom: .625rem;
    }

    ::-webkit-input-placeholder {
       color: palette(gray, light);
    }

    :-moz-placeholder { /* Firefox 18- */
       color: palette(gray, light);
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: palette(gray, light);
    }

    :-ms-input-placeholder {
       color: palette(gray, light);
    }
}

.img-edit {
    background-color: palette(gray, light);
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    width: 100%;

    @media #{$bp-beta} {
        height: auto;
        left: auto;
        margin-left: -1.563rem;
        width: 43.75rem;
    }

    @media #{$bp-gamma} {
        width: 59.375rem;
    }

    input {
        margin-bottom: 0;
    }

    label {
        margin-right: .313rem;
    }

    .modal--bar-top {
        padding-bottom: 0;

        @media #{$bp-beta} {
            margin: 0;
        }
    }
}

.img-edit .img-prev {
    display: inline-block;
    height: auto;
    margin-top: 5.7rem;
    vertical-align: top;
    width: 100%;

    @media #{$bp-alpha} {
        margin-top: 2.6rem;
    }

    @media #{$bp-beta} {
        padding-left: 1.563rem;
        margin-top: 5.1rem;
    }

    .img-size {
        padding: 0 .625rem;
        width: 100%;

        @media #{$bp-beta} {
            display: inline-block;
            margin-left: .625rem;
            width: 47%;
            vertical-align: top;
        }

        input[type=radio] + label {
            display: block;
            text-align: left;
        }
    }

    img, iframe {
        width: 100%;

        @media #{$bp-beta} {
            width: 47%;
        }
    }
}

.img-edit .img-info {
    display: inline-block;
    margin-right: 1.563rem;
    vertical-align: top;
    width: 100%;

    @media #{$bp-beta} {
        width: 47%;
    }

    input {
        width: 100%;
    }

    label {
        display: block;
    }

    &:last-child {
        margin-right: 0;
    }
}

.media-wrapper {
    background-color: palette(gray, light);
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 14rem;
    width: 100%;

    @media #{$bp-beta} {
        top: 7.813rem;
    }

    .success-button {
        margin-bottom: 0;
    }
}


.gallery-media-wrapper {
    @extend .media-wrapper;
    top: 12.5rem;

    @media #{$bp-alpha} {
        top: 9.688rem;
    }

    @media #{$bp-gamma} {
        top: 4.5rem;
    }
}

.media-search {
    border-bottom: 1px solid palette(gray, mid);
    color: palette(gray, light);
    margin: 0 1.563rem 1.563rem 1.563rem;
    padding: 1.563rem 1.563rem * 2 .625rem 0;
    position: fixed;
    top: 6.1rem;
    width: 100%;
    z-index: 100000;

    button {
        margin-bottom: .313rem;
    }

    .search-bar{
        display: inline-block;

        input {
            width: 24rem;
        }

        label {
            margin-right: .313rem;
        }
    }
}

.media-holder {
    background-color: palette(gray, light);
    margin-top: -.1rem;
    overflow-y: scroll;
    padding: 1.563rem 1.563rem 0 1.563rem;
}

.media-tile {
    display: inline-block;
    margin: 0 1.563rem * .5 1.563rem * .5 0;
    text-align: center;
    vertical-align: top;
    width: 100%;

    @media #{$bp-beta} {
        height: 13.55rem;
        overflow: hidden;
        width: 48.5%;

        &:nth-child(even) {
            margin-right: 0;
        }

        &:nth-child(odd) {
            margin-right: 1.2rem;
        }
    }

    @media #{$bp-gamma} {
        height: 19rem;

        &:nth-child(odd) {
            margin-right: 1.563rem;
        }
    }

    i {
        color: palette(blue, dark);
        font-size: 10em;
        margin-top: .938rem;

        @media #{$bp-beta} {
            font-size: 7.5em;
            margin-top: 0;
        }
    }

    img {
        height: auto;

    }
}

.info-close {
    cursor: pointer;

    &:after {
        color: palette(blue, dark);
        content: '\f00d';
        font-family: $font-beta;
        left: 52.969rem;
        position: absolute;
        top: 2rem;
        z-index: 100001;

        @media #{$bp-beta} {
            left: 34.688rem;
        }

        @media #{$bp-beta} {
            display: none;
        }
    }
}

.media-info {
    display: inline-block;
    padding: 0 1.563rem;
    width: 100%;

    .blk {
        margin-bottom: 1.563rem;
    }
}

.img-gallery {
    display: inline-block;
    margin: 0 1.563rem 2rem 1.563rem;
    vertical-align: top;
    width: auto;

    @media #{$bp-beta} {
        width: 33%;
    }

    img {
        @media #{$bp-beta} {
            width: 100%;
        }
    }
}

.img-gallery-info {
    margin-left: 1.563rem;
    overflow: hidden;
    padding-right: 2rem;
    width: auto;

    @media #{$bp-beta} {
        display: inline-block;
        margin: 0 0 2rem 0;
        vertical-align: top;
        width: 53%;
    }

    @media #{$bp-gamma} {
        overflow: hidden;
        width: 61%;
    }

    p {
        margin-bottom: 0;
    }

    .tag {
        background-color: palette(gray, mid);
        color: palette(blue, dark);
        display: inline-block;
        height: auto;
        margin: 0 .625rem 2rem .625rem;
        padding: .313rem .625rem .75rem .625rem;
        width: auto;

        &:first-child {
            margin-left: 0;
        }

        &:hover {
            cursor: default;
            color: palette(blue, dark);
        }

        .fa-tag {
            margin-right: .313rem;
            vertical-align: middle;
        }
    }
}

.file-prev {
    background-color: palette(gray, mid);
    display: table;
    height: 16rem;
    margin: 0 auto;
    width: 100%;

    @media #{$bp-beta} {
        height: 18rem;

        i {
            vertical-align: top;
        }
    }

    @media #{$bp-gamma} {
        height: 28rem;
    }

    i {
        color: palette(blue, dark);
        display: table-cell;
        font-size: 6.25em;
        vertical-align: middle;
    }
}

.nav {
    display: block;
    margin-top: 0;
    padding-right: 0;

    @media #{$bp-alpha} {
        display: inline-block;
        margin-left: .313rem;
        margin-top: .65rem;
        padding-right: 1.563rem;

        .options-button {
            margin-bottom: 0;
        }
    }

    @media #{$bp-beta} {
        float: right;
    }

    .options-button {

        &:last-child {
            margin-right: 0;
        }
    }
}
