<section ng-controller="commentsCtrl" class="cos-comments" ng-class="{'show-right': panel=='comments'}">
    <div class="cos-comments--head">
        <h2 translate>{{page.commentsNum}} comments</h2>
        <div class="cos-comments--credentials">
            <a translate="login"></a> <span translate="or"></span> <a translate="register"></a> <!--<a href="#">Logout</a> -->
        </div>
    </div>
    <div ng-repeat="comment in page.comments | orderBy:page.comments.path" class="cos-comments--comment" ng-class="{'reply-first': replyLevel(comment.path)==1, 'reply-second': replyLevel(comment.path)==2}">
        <div class="comment-info">
            <a href="#" class="username">{{comment.name}}
            <i class="fa fa-twitter"></i></a>
            <!-- <i class="fa fa-facebook"></i> -->
            <p class="posted-on">15 minutes ago</p>
        </div>
        <p>{{comment.comment}}</p>
        <i class="fa fa-reply" alt="reply" ng-click="reply($index, comment.path)"></i>
        <i class="fa fa-thumbs-up" alt="like"></i>
        <i class="fa fa-exclamation-circle" alt="Spam"></i>
    </div>
    <div class="reply" ng-class="{'show-right': panel=='comments'}">
        <div class="logged-out" ng-if="guest&&userIsCommenting">
            <input type="text" ng-model="comment.username" id="name" placeholder="name"></input>
            <input type="email" ng-model="comment.email" id="email" placeholder="email"></input>
        </div>
        <textarea ng-model="comment.message" ng-click="userIsCommenting=true" placeholder="Post A New Comment"></textarea>
        <a ng-click="submit()" translate="submit"></a>
    </div>
</section>