<ul ng-model="list">
    <li ng-repeat="item in list track by $index">
        <a ng-href="{{item.url}}">{{item.title}}</a>
        <ul ng-if="item.items[0].title" ng-class="{show: subnav}">
            <li ng-repeat="subItem in item.items track by $index">
                <a ng-href="{{subItem.url}}" ng-click="childnav=!childnav">{{subItem.title}}</a>
                <ul ng-if="subItem.items[0].title" ng-class="{'show-child': childnav}">
                    <li ng-repeat="subItem1 in subItem.items track by $index">
                        <a ng-href="{{subItem1.url}}">{{subItem1.title}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>