<div class="cosmo-default" ng-controller="loginRegistrationCtrl">
    <div class="login">
        <div class="modal--bar-top">
            <h1 class="no-marg" translate="reset"></h1><h2 translate="password"></h2>
        </div>
        <div class="form-case">
            <form class="ng-pristine ng-valid">
                <div class="form">
                    <label translate="new_password"></label>
                    <input ng-model="reset.password" id="password" class="formfullwidth" required="" type="password">
                </div>
                <div class="form">
                    <label translate="confirm_password"></label>
                    <input ng-model="reset.password2" id="password" class="formfullwidth" required="" type="password">
                </div>
                <div>
                    <button ng-click="reset()" type="submit" class="success-button" translate="submit"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<a ng-show="loginPage" class="ngdialog-close" href="/"></a>
