<div class="cosmo-default" ng-controller="wysiwygCtrl">
    <div class="media-nav">
        <h1 class="nomarg">Add A Table</h1>
    </div>
    <div class="formcase tables">
        <div>
            <label class="fw-label"><i class="fa fa-info-circle info" ng-click="showRowInfo=!showRowInfo"></i> Rows</label>
            <label>{{editor.rows}}</label>
            <button class="options-button" ng-click="editor.rows=editor.rows+1"><i class="fa fa-plus"></i></button>
            <button  class="error-button" ng-click="editor.rows=editor.rows-1"><i class="fa fa-minus"></i></button>
            <small ng-show="showRowInfo">Rows are vertical separators</small>
        </div>
        
        <div>
            <label class="fw-label"><i class="fa fa-info-circle info" ng-click="showColInfo=!showColInfo"></i> Columns</label>
            <label>{{editor.cols}}</label>
            <button class="options-button" ng-click="editor.cols=editor.cols+1"><i class="fa fa-plus"></i></button>
            <button  class="error-button" ng-click="editor.cols=editor.cols-1"><i class="fa fa-minus"></i></button>
            <small ng-show="showColInfo">Columns are horizontal separators</small>
        </div>
        
        <div>
            <input type="checkbox" ng-model="editor.tableHeader"> Table Header
        </div>
        
        <label>Paste tab-separated table here</label>
        <button class="options-button" ng-click="pastingTable=true">Paste Table</button>
        <div ng-show="pastingTable">Press CTRL+V or CMD+V</div>
        <div>
            Preview:
            <table>
                <tr ng-repeat="row in editor.pastedTableRows">
                    <td ng-repeat="col in row">{{col}}</td>
                </tr>
            </table>
        </div>
        <button class="success-button create-table" ng-click="createTable()">create table</button>
    </div>
</div>