<div class="blocks" ng-controller="blockCtrl">
    <div ng-show="block.panel==='manage'">
        <div class="bar-top">
            <i class="fa fa-chevron-left" ng-click="admin.sidebar='core/html/sidebar.html';active=''"></i>
            <h1 translate="blocks_title"></h1>
            <a class="sidebar-close" ng-click="admin.showAdminPanel=false;admin.active=false;">
                <i class="fa fa-times close"></i>
            </a>
        </div>
        <div class="form-case--border">
            <button class="new" ng-click="createBlock=!createBlock">
                <div ng-if="!createBlock">
                    <i class="fa fa-plus"></i>
                    <p translate="blocks_description"></p>
                </div>
                <div ng-if="createBlock">
                    <i class="fa fa-times-circle-o"></i>
                    <p translate="close"></p>
                </div>
            </button>
            <div class="add-new" ng-show="createBlock">
                <label for="name" translate="name"></label>
                <input id="name" value="name" type='text' ng-model='block.newName' placeholder="e.g. My new custom block">
                <button class="btn-success" ng-click='newBlock()' translate="add"></button>
            </div>
        </div>
        <div class="form-case--border">
            <label class="search" for="search" translate="search"></label>
            <input id="search" type="text" ng-model="search" placeholder="Search: e.g. Footer">
        </div>
        <div>
            <ul ng-repeat='block in blocks | filter:search'>
                <li>
                    <a>
                        <h6 ng-click='selectBlock(block)'>{{block.name || 'N/A'}}</h6>
                    </a>
                    <div class="cos-select--half-width">
                        <select value="section" ng-model="block.area" ng-change="updateBlock(block)">
                            <option value="header" translate="header"></option>
                            <option value="footer" translate="footer"></option>
                            <option value="sidebar1" translate>sidebar 1</option>
                            <option value="sidebar2" translate>sidebar 2</option>
                            <option value="sidebar3" translate>sidebar 3</option>
                            <option value="block1" translate>block 1</option>
                            <option value="block2" translate>block 2</option>
                            <option value="block3" translate>block 3</option>
                            <option value="block4" translate>block 4</option>
                            <option value="block5" translate>block 5</option>
                            <option value="block6" translate>block 6</option>
                            <option value="block7" translate>block 7</option>
                            <option value="block8" translate>block 8</option>
                            <option value="block9" translate>block 9</option>
                            <option value="block10" translate>block 10</option>
                        </select>
                    </div>
                    <div class="cos-select--half-width">
                        <select ng-model='block.priority' ng-change="updateBlock(block)">
                            <option value="-100">-100</option>
                            <option value="-99">-99</option>
                            <option value="-98">-98</option>
                            <option value="-97">-97</option>
                            <option value="-96">-96</option>
                            <option value="-95">-95</option>
                            <option value="-94">-94</option>
                            <option value="-93">-93</option>
                            <option value="-92">-92</option>
                            <option value="-91">-91</option>
                            <option value="-90">-90</option>
                            <option value="-89">-89</option>
                            <option value="-88">-88</option>
                            <option value="-87">-87</option>
                            <option value="-86">-86</option>
                            <option value="-85">-85</option>
                            <option value="-84">-84</option>
                            <option value="-83">-83</option>
                            <option value="-82">-82</option>
                            <option value="-81">-81</option>
                            <option value="-80">-80</option>
                            <option value="-79">-79</option>
                            <option value="-78">-78</option>
                            <option value="-77">-77</option>
                            <option value="-76">-76</option>
                            <option value="-75">-75</option>
                            <option value="-74">-74</option>
                            <option value="-73">-73</option>
                            <option value="-72">-72</option>
                            <option value="-71">-71</option>
                            <option value="-70">-70</option>
                            <option value="-69">-69</option>
                            <option value="-68">-68</option>
                            <option value="-67">-67</option>
                            <option value="-66">-66</option>
                            <option value="-65">-65</option>
                            <option value="-64">-64</option>
                            <option value="-63">-63</option>
                            <option value="-62">-62</option>
                            <option value="-61">-61</option>
                            <option value="-60">-60</option>
                            <option value="-59">-59</option>
                            <option value="-58">-58</option>
                            <option value="-57">-57</option>
                            <option value="-56">-56</option>
                            <option value="-55">-55</option>
                            <option value="-54">-54</option>
                            <option value="-53">-53</option>
                            <option value="-52">-52</option>
                            <option value="-51">-51</option>
                            <option value="-50">-50</option>
                            <option value="-49">-49</option>
                            <option value="-48">-48</option>
                            <option value="-47">-47</option>
                            <option value="-46">-46</option>
                            <option value="-45">-45</option>
                            <option value="-44">-44</option>
                            <option value="-43">-43</option>
                            <option value="-42">-42</option>
                            <option value="-41">-41</option>
                            <option value="-40">-40</option>
                            <option value="-39">-39</option>
                            <option value="-38">-38</option>
                            <option value="-37">-37</option>
                            <option value="-36">-36</option>
                            <option value="-35">-35</option>
                            <option value="-34">-34</option>
                            <option value="-33">-33</option>
                            <option value="-32">-32</option>
                            <option value="-31">-31</option>
                            <option value="-30">-30</option>
                            <option value="-29">-29</option>
                            <option value="-28">-28</option>
                            <option value="-27">-27</option>
                            <option value="-26">-26</option>
                            <option value="-25">-25</option>
                            <option value="-24">-24</option>
                            <option value="-23">-23</option>
                            <option value="-22">-22</option>
                            <option value="-21">-21</option>
                            <option value="-20">-20</option>
                            <option value="-19">-19</option>
                            <option value="-18">-18</option>
                            <option value="-17">-17</option>
                            <option value="-16">-16</option>
                            <option value="-15">-15</option>
                            <option value="-14">-14</option>
                            <option value="-13">-13</option>
                            <option value="-12">-12</option>
                            <option value="-11">-11</option>
                            <option value="-10">-10</option>
                            <option value="-9">-9</option>
                            <option value="-8">-8</option>
                            <option value="-7">-7</option>
                            <option value="-6">-6</option>
                            <option value="-5">-5</option>
                            <option value="-4">-4</option>
                            <option value="-3">-3</option>
                            <option value="-2">-2</option>
                            <option value="-1">-1</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                            <option value="32">32</option>
                            <option value="33">33</option>
                            <option value="34">34</option>
                            <option value="35">35</option>
                            <option value="36">36</option>
                            <option value="37">37</option>
                            <option value="38">38</option>
                            <option value="39">39</option>
                            <option value="40">40</option>
                            <option value="41">41</option>
                            <option value="42">42</option>
                            <option value="43">43</option>
                            <option value="44">44</option>
                            <option value="45">45</option>
                            <option value="46">46</option>
                            <option value="47">47</option>
                            <option value="48">48</option>
                            <option value="49">49</option>
                            <option value="50">50</option>
                            <option value="51">51</option>
                            <option value="52">52</option>
                            <option value="53">53</option>
                            <option value="54">54</option>
                            <option value="55">55</option>
                            <option value="56">56</option>
                            <option value="57">57</option>
                            <option value="58">58</option>
                            <option value="59">59</option>
                            <option value="60">60</option>
                            <option value="61">61</option>
                            <option value="62">62</option>
                            <option value="63">63</option>
                            <option value="64">64</option>
                            <option value="65">65</option>
                            <option value="66">66</option>
                            <option value="67">67</option>
                            <option value="68">68</option>
                            <option value="69">69</option>
                            <option value="70">70</option>
                            <option value="71">71</option>
                            <option value="72">72</option>
                            <option value="73">73</option>
                            <option value="74">74</option>
                            <option value="75">75</option>
                            <option value="76">76</option>
                            <option value="77">77</option>
                            <option value="78">78</option>
                            <option value="79">79</option>
                            <option value="80">80</option>
                            <option value="81">81</option>
                            <option value="82">82</option>
                            <option value="83">83</option>
                            <option value="84">84</option>
                            <option value="85">85</option>
                            <option value="86">86</option>
                            <option value="87">87</option>
                            <option value="88">88</option>
                            <option value="89">89</option>
                            <option value="90">90</option>
                            <option value="91">91</option>
                            <option value="92">92</option>
                            <option value="93">93</option>
                            <option value="94">94</option>
                            <option value="95">95</option>
                            <option value="96">96</option>
                            <option value="97">97</option>
                            <option value="98">98</option>
                            <option value="99">99</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </li>
            </ul>
    	</div>
    </div>

    <div ng-show="block.panel==='edit'">
        <div class="bar-top">
                <i class="fa fa-chevron-left " ng-click="block.panel='manage';confirm=false"></i>
            <h1 translate="editing"></h1><h2>{{block.name}}</h2>
            <a class="sidebar-close" ng-click="admin.showAdminPanel=false;admin.active=false;">
                <i class="fa fa-times close"></i>
            </a>
        </div>
        <div class="form-case">
            <label for="name" translate="blocks_name"></label>
            <input id="name" value="name" type='text' ng-model='block.name'>
            <label for="code" translate="code"></label>
            <div id="code" class="blk-code" cs-content="none"></div>

            <div class="half-width">
                <label for="section" translate="Section"></label>
                <div class="cos-select">
                    <select id="selection" value="section" ng-model="block.area">
                        <option value="header" translate="header"></option>
                        <option value="footer" translate="footer"></option>
                        <option value="sidebar1" translate>sidebar 1</option>
                        <option value="sidebar2" translate>sidebar 2</option>
                        <option value="sidebar3" translate>sidebar 3</option>
                        <option value="block1" translate>block 1</option>
                        <option value="block2" translate>block 2</option>
                        <option value="block3" translate>block 3</option>
                        <option value="block4" translate>block 4</option>
                        <option value="block5" translate>block 5</option>
                        <option value="block6" translate>block 6</option>
                        <option value="block7" translate>block 7</option>
                        <option value="block8" translate>block 8</option>
                        <option value="block9" translate>block 9</option>
                        <option value="block10" translate>block 10</option>
                    </select>
                </div>
            </div>

            <div class="half-width">
                <label for="priority" translate="priority"></label>
                <div class="cos-select">
                    <select id="priority" ng-model='block.priority'>
                        <option value="-100">-100</option>
                        <option value="-99">-99</option>
                        <option value="-98">-98</option>
                        <option value="-97">-97</option>
                        <option value="-96">-96</option>
                        <option value="-95">-95</option>
                        <option value="-94">-94</option>
                        <option value="-93">-93</option>
                        <option value="-92">-92</option>
                        <option value="-91">-91</option>
                        <option value="-90">-90</option>
                        <option value="-89">-89</option>
                        <option value="-88">-88</option>
                        <option value="-87">-87</option>
                        <option value="-86">-86</option>
                        <option value="-85">-85</option>
                        <option value="-84">-84</option>
                        <option value="-83">-83</option>
                        <option value="-82">-82</option>
                        <option value="-81">-81</option>
                        <option value="-80">-80</option>
                        <option value="-79">-79</option>
                        <option value="-78">-78</option>
                        <option value="-77">-77</option>
                        <option value="-76">-76</option>
                        <option value="-75">-75</option>
                        <option value="-74">-74</option>
                        <option value="-73">-73</option>
                        <option value="-72">-72</option>
                        <option value="-71">-71</option>
                        <option value="-70">-70</option>
                        <option value="-69">-69</option>
                        <option value="-68">-68</option>
                        <option value="-67">-67</option>
                        <option value="-66">-66</option>
                        <option value="-65">-65</option>
                        <option value="-64">-64</option>
                        <option value="-63">-63</option>
                        <option value="-62">-62</option>
                        <option value="-61">-61</option>
                        <option value="-60">-60</option>
                        <option value="-59">-59</option>
                        <option value="-58">-58</option>
                        <option value="-57">-57</option>
                        <option value="-56">-56</option>
                        <option value="-55">-55</option>
                        <option value="-54">-54</option>
                        <option value="-53">-53</option>
                        <option value="-52">-52</option>
                        <option value="-51">-51</option>
                        <option value="-50">-50</option>
                        <option value="-49">-49</option>
                        <option value="-48">-48</option>
                        <option value="-47">-47</option>
                        <option value="-46">-46</option>
                        <option value="-45">-45</option>
                        <option value="-44">-44</option>
                        <option value="-43">-43</option>
                        <option value="-42">-42</option>
                        <option value="-41">-41</option>
                        <option value="-40">-40</option>
                        <option value="-39">-39</option>
                        <option value="-38">-38</option>
                        <option value="-37">-37</option>
                        <option value="-36">-36</option>
                        <option value="-35">-35</option>
                        <option value="-34">-34</option>
                        <option value="-33">-33</option>
                        <option value="-32">-32</option>
                        <option value="-31">-31</option>
                        <option value="-30">-30</option>
                        <option value="-29">-29</option>
                        <option value="-28">-28</option>
                        <option value="-27">-27</option>
                        <option value="-26">-26</option>
                        <option value="-25">-25</option>
                        <option value="-24">-24</option>
                        <option value="-23">-23</option>
                        <option value="-22">-22</option>
                        <option value="-21">-21</option>
                        <option value="-20">-20</option>
                        <option value="-19">-19</option>
                        <option value="-18">-18</option>
                        <option value="-17">-17</option>
                        <option value="-16">-16</option>
                        <option value="-15">-15</option>
                        <option value="-14">-14</option>
                        <option value="-13">-13</option>
                        <option value="-12">-12</option>
                        <option value="-11">-11</option>
                        <option value="-10">-10</option>
                        <option value="-9">-9</option>
                        <option value="-8">-8</option>
                        <option value="-7">-7</option>
                        <option value="-6">-6</option>
                        <option value="-5">-5</option>
                        <option value="-4">-4</option>
                        <option value="-3">-3</option>
                        <option value="-2">-2</option>
                        <option value="-1">-1</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                        <option value="46">46</option>
                        <option value="47">47</option>
                        <option value="48">48</option>
                        <option value="49">49</option>
                        <option value="50">50</option>
                        <option value="51">51</option>
                        <option value="52">52</option>
                        <option value="53">53</option>
                        <option value="54">54</option>
                        <option value="55">55</option>
                        <option value="56">56</option>
                        <option value="57">57</option>
                        <option value="58">58</option>
                        <option value="59">59</option>
                        <option value="60">60</option>
                        <option value="61">61</option>
                        <option value="62">62</option>
                        <option value="63">63</option>
                        <option value="64">64</option>
                        <option value="65">65</option>
                        <option value="66">66</option>
                        <option value="67">67</option>
                        <option value="68">68</option>
                        <option value="69">69</option>
                        <option value="70">70</option>
                        <option value="71">71</option>
                        <option value="72">72</option>
                        <option value="73">73</option>
                        <option value="74">74</option>
                        <option value="75">75</option>
                        <option value="76">76</option>
                        <option value="77">77</option>
                        <option value="78">78</option>
                        <option value="79">79</option>
                        <option value="80">80</option>
                        <option value="81">81</option>
                        <option value="82">82</option>
                        <option value="83">83</option>
                        <option value="84">84</option>
                        <option value="85">85</option>
                        <option value="86">86</option>
                        <option value="87">87</option>
                        <option value="88">88</option>
                        <option value="89">89</option>
                        <option value="90">90</option>
                        <option value="91">91</option>
                        <option value="92">92</option>
                        <option value="93">93</option>
                        <option value="94">94</option>
                        <option value="95">95</option>
                        <option value="96">96</option>
                        <option value="97">97</option>
                        <option value="98">98</option>
                        <option value="99">99</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>
            <label for="visibility" translate="blocks_visibility"></label>
            <div class="cos-select">
                <select id="visibility" ng-model='block.visibility'>
                    <option value="" translate="blocks_all_pages"></option>
                    <option value="visible" translate="blocks_only"></option>
                    <option value="invisible" translate="blocks_except"></option>
                </select>
            </div>
            <div ng-show="block.visibility">
                <p translate="blocks_wildcard"></p>
                <textarea ng-model='block.urls'></textarea>
            </div>
            <p><span translate="blocks_only_specific"><span>
            <small translate="blocks_no_limitation"></small></p>
            <p class="page-select" ng-repeat="type in types" ng-click="block.selectedTypes[type]=!block.selectedTypes[type]">
                <input id="type" value="type" type='checkbox' ng-model='block.selectedTypes[type]' ng-click="block.selectedTypes[type]=!block.selectedTypes[type]">
                <label for="type">{{type | themeFiles}}</label>
            </p>
            <div class="confirm" ng-show="confirm">
                <p translate="blocks_delete"></p>
                <button class="btn-error" ng-click="confirm=false;deleteBlock();block.panel='manage'" translate="yes"></button>
                <button class="btn-success" ng-click='confirm=false' translate="no"></button>
            </div>
            <div>
                <button class="marg btn-error" ng-click='confirm=true' translate="delete"></button>
                <button class="marg btn-success" ng-click="saveBlock()" translate="save"></button>
            </div>
        </div>
    </div>
</div>
