<div ng-controller="contentListCtrl">
    <div class="bar-top">
        <i class="fa fa-chevron-left " ng-click="admin.sidebar='core/html/sidebar.html';active=''"></i>
        <h1>Search</h1><h2>Pages</h2>
    </div>
    <form class="form-case">
        <!-- <input  id="all" type="radio" ng-model="content.onlySearch" value="all">
        <label for="all" ng-click="content.onlySearch='all';searchBar()">All</label>

        <input  id="type" type="radio" ng-model="content.onlySearch" value="type">
        <label for="type" ng-click="content.onlySearch='type';searchBar()">Type</label>

        <input  id="author" type="radio" ng-model="content.onlySearch" value="author">
        <label for="author" ng-click="content.onlySearch='author';searchBar()">Author</label>

        <input  id="tags" type="radio" ng-model="content.onlySearch" value="tags">
        <label for="tags" ng-click="content.onlySearch='tags';searchBar()">Tags</label> -->
        <label for="search">Search</label>
        <input id="search" type="text" ng-model="content.input" ng-keyup="searchBar()" placeholder="e.g., The Millenium">
    </form>
    <ul>
        <li ng-repeat="page in pages | filter:search">
            <a ng-href="{{page.url}}">{{page.title}}</a>
            <p class="page-type"><small><i class="fa fa-file-text"></i> {{page.type | themeFiles}}</small></p>
            <p><small><i alt="published" class="fa fa-check"></i> {{page.published}}</small></p>
            <p><small><i alt="author" class="fa fa-user"></i> {{page.author}}</small></p>
        </li>
    </ul>
</div>
