<div ng-controller="contentListCtrl">
    <div class="bar-top">
        <i class="fa fa-chevron-left " ng-click="admin.sidebar='core/html/sidebar.html';active=''"></i>
        <h1>Search Pages</h1>
    </div>
    <form class="form-case">
        <label for="search">Search</label>
        <input id="search" type="text" ng-model="content.input" ng-keyup="searchBar()" placeholder="e.g., The Millenium">
        <label for="restrict">Restrict Search</label>
        <div class="cos-select" id="restrict">
            <select ng-model="content.onlySearch" ng-change="searchBar()">
                <option value="all">All</option>
                <option value="type">Type</option>
                <option value="author">Author</option>
                <option value="tags">Tags</option>
            </select>
        </div>
    </form>
    <ul>
        <li ng-repeat="page in pages | filter:search">
            <a ng-href="{{page.url}}">{{page.title}}</a>
            <p class="page-type"><small><i class="fa fa-file-text"></i> {{page.type | themeFiles}}</small></p>
            <p><small><i alt="published" class="fa fa-check"></i> {{page.published}}</small></p>
            <p><small><i alt="author" class="fa fa-user"></i> {{page.author.username}}</small></p>
        </li>
    </ul>
</div>
