<div ng-controller="contactCtrl">
    <div class="col-md-4 col-md-offset-2 left">
        <h6><span class="icon-leaf"> </span>Aloha!</h6>
        <img src="uploads/1389771811.jpg">
        <p>Please feel free to contact Kauai Heritage Properties and Peter (R) and Hannah Sirois (PB) with your specific request by calling direct and/or completing the form to the right.</p><br/>

        <h6>Office Location</h6>
        <ul>
        <li>Historic Koloa Plantation Building</li>
        <li>3417 Poipu Road</li>
        <li>Suite 110B</li>
        <li>Koloa, HI 96756</li>
        </ul>
    </div>
    <div class="col-md-4 right">
    <h6><span class="icon-leaf"> </span>CONTACT US</h6>
        <form class="ng-pristine ng-valid">
        <div class="row">
            <div class="col-lg-12">

                <input ng-model="firstName" id="firstname" class="formhalfwidth" placeholder="First Name" required="" type="text">
                <input ng-model="lastName" id="lastname" class="formhalfwidth-nomarg" placeholder="Last Name" required="" type="text">
                <input ng-model="email" id="email" class="formfullwidth" placeholder="youremail@domain.com" required="" type="email">
                <textarea ng-model="message" id="message" class="formfullwidth sendamessage" placeholder="Let us know your thoughts and questions." required="" type="text"></textarea>
                <input ng-click="submitContact()" type="submit" class="box-green submit formhalfwidth-nomarg">
                <br/>
                <h6>Mailing Address</h6>
                <ul>
                <li>Kauai Heritage Properties LLC</li>
                <li>PO Box 69, Koloa, HI 96756</li>
                <li>Email: <a href="mailto:info@kauaihp.com">info@kauaihp.com</a></li>
                <li>Phone: <a href="tel:808.742.1191">808.742.1191</a></li>
                <li>Fax: 808.742.1192</li>
                </ul>

        </div>
        </form>
    </div>
</div>
<a ng-show="contactPage" class="close-contact" href="http://www.kauaiheritageproperties.com"></a>
