<div class="cosmo-default" ng-controller="loginRegistrationCtrl">
    <div class="sidebar adminSidebarSlideOut" ng-show="login.panel=='register'">
        <div class="bar-top">
            <i class="fa fa-chevron-left" ng-click="login.panel='login'"></i>
            <h1 translate="login_register"></h1>
        </div>
        <div class="bar--actions">
            <button type="button" ng-click="register()" translate="login_create_account"></button>
        </div>
        <div class="form-case">
            <label translate="username"></label>
            <input id="username" type="text" ng-model="register.username" class="ng-valid ng-dirty">

            <label translate="login_email"></label>
            <input id="email" type="email" ng-model="register.email" class="ng-valid ng-dirty">

            <label translate="password"></label>
            <input id="password" type="password" ng-model="register.password" class="ng-valid ng-dirty">

            <label translate="confirm_password"></label>
            <input id="confirm your password" type="password" ng-model="register.confirmPassword" class="ng-valid ng-dirty">
        </div>
    </div>
    <div class="sidebar adminSidebarSlideOut" ng-show="login.panel=='login'">
        <div class="bar-top">
            <h1 class="no-marg" translate="login_sign"></h1>
        </div>
        <div class="bar--actions">
            <button type="button" ng-click="login.panel='register'" translate="register"></button>
            <button type="button" ng-click="userLogin()" translate="login"></button>
        </div>
        <div class="form-case">
            <label translate="username"></label>
            <input id="username" type="text" ng-model="login.username" class="ng-valid ng-dirty">

            <label translate="password"></label>
            <input id="password" type="password" ng-model="login.password" class="ng-valid ng-dirty">

            <a ng-click="resetPassword()" translate="login_forgot_password"></a>
        </div>
    </div>
</div>
