<div ng-controller="menuCtrl">
    <div ng-show="menu.panel==='manage'">
        <div class="bar-top">
            <i class="fa fa-chevron-left " ng-click="admin.sidebar='core/html/sidebar.html';active=''"></i>
            <h1>Menus</h1>
        </div>
        <div class="form-case--border">
            <button class="new" ng-click="createMenu=!createMenu">
                <div ng-if="!createMenu">
                    <i class="fa fa-fw fa-plus"></i><p>New Menu</p>
                </div>
                <div ng-if="createMenu">
                    <i class="fa fa-fw fa-times-circle-o"></i><p>Close</p>
                </div>
            </button>
            <div class="add-new" ng-show="createMenu">
                <label for="name">Add a Menu</label>
                <input value="name" type='text' ng-model='menu.newName' placeholder="Menu Name e.g., Footer">
                <button class="btn-success" ng-click='newMenu()'>add</button>
            </div>
        </div>
        <ul>
            <li ng-repeat="menu in menus" ng-click="selectMenu(menu)"><a>{{menu.name}}</a></li>
        </ul>
    </div>
    <div ng-show="menu.panel==='edit'">
        <div class="bar-top">
            <i class="fa fa-fw fa-chevron-left " ng-click="menu.panel='manage'"></i>
            <h1>Editing {{menu.name}}</h1>
        </div>
        <div class="form-case">
            <div class="half-width">
                <label for="name">Name:</label>
                <input value="name" type="text" ng-model="menu.name">
            </div>
            <div class="half-width">
                <label for="area">Area:</label>
                <div class="cos-select">
                    <select value="area" ng-model="menu.area">
                        <option value="primary">Primary</option>
                        <option value="secondary">Secondary</option>
                        <option value="footer">Footer</option>
                        <option value="sidebar1">Sidebar 1</option>
                        <option value="sidebar2">Sidebar 2</option>
                        <option value="sidebar3">Sidebar 3</option>
                        <option value="menu1">Menu 1</option>
                        <option value="menu2">Menu 2</option>
                        <option value="menu3">Menu 3</option>
                        <option value="menu4">Menu 4</option>
                        <option value="menu5">Menu 5</option>
                        <option value="menu6">Menu 6</option>
                        <option value="menu7">Menu 7</option>
                        <option value="menu8">Menu 8</option>
                        <option value="menu9">Menu 9</option>
                        <option value="menu10">Menu 10</option>
                    </select>
                </div>
            </div>
            <div class="nestedSortable-list">
                <div ui-tree>
                    <ol ui-tree-nodes="options" ng-model="list">
                        <li class="nestedSortable-handle" ng-repeat="item in list" ui-tree-node>
                            <div ui-tree-handle>
                                <p>{{item.title}}</p>
                                <div class="menu-manager">
                                    <a data-nodrag ng-click="menu.editLink=true;menu.currentlyEditingLink=item;menu.editLinkText=item.title;menu.editLinkURL=item.url"><i class="fa fa-fw fa-pencil-square-o"></i></a>
                                    <a data-nodrag ng-click="newSubItem(this)"><i class="fa fa-fw fa-plus"></i></a>
                                    <a data-nodrag ng-click="remove(this)"><i class="fa fa-fw fa-times"></i></a>
                                </div>
                            </div>
                            <ol ui-tree-nodes="options" ng-model="item.items">
                                <li ng-repeat="subItem in item.items" ui-tree-node>
                                    <div ui-tree-handle>
                                        {{subItem.title}}
                                        <div class="menu-manager">
                                            <a data-nodrag ng-click="menu.editLink=true;menu.currentlyEditingLink=subItem;menu.editLinkText=subItem.title;menu.editLinkURL=subItem.url"><i class="fa fa-fw fa-pencil-square-o"></i></a>
                                            <a data-nodrag ng-click="newSubItem(this)"><i class="fa fa-fw fa-plus"></i></a>
                                            <a data-nodrag ng-click="remove(this)"><i class="fa fa-fw fa-times"></i></a>
                                        </div>
                                    </div>
                                    <ol ui-tree-nodes="options" ng-model="subItem.items">
                                        <li ng-repeat="subItem1 in subItem.items" ui-tree-node>
                                            <div ui-tree-handle>
                                                {{subItem1.title}}
                                                <div class="menu-manager">
                                                    <a data-nodrag ng-click="menu.editLink=true;menu.currentlyEditingLink=subItem1;menu.editLinkText=subItem1.title;menu.editLinkURL=subItem1.url"><i class="fa fa-fw fa-pencil-square-o"></i></a>
                                                    <a data-nodrag ng-click="remove(this)"><i class="fa fa-fw fa-times"></i></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </div>

            <div ng-show="menu.editLink">
                <div ng-show="menu.editLinkText">
                    <div class="half-width">
                        <label for="text">Edit Link Text</label>
                        <input value="text" type="text" ng-model="menu.editLinkText" ng-change="updateLink()">
                    </div>

                    <div class="half-width">
                        <label for="url">Edit Link URL</label>
                        <input value="url" type="text" ng-model="menu.editLinkURL" ng-change="updateLink()">
                    </div>
                </div>


                <button class="btn-error" ng-click="deleteMenu();menu.panel='manage'">delete menu</button>
                <button class="btn-success" ng-click="saveMenu()">save menu</button>
            </div>
        </div>
    </div>
</div>