<div class="cosmo-default" ng-controller="filesCtrl">
    <div ng-show='files.gallery'>
        <!-- Gallery Area -->
        <div class="media-nav">
            <h1 class="no-marg">Media</h1><h2>Gallery</h2>
            <div class="options">
                <button class="options-button no-marg" ng-click="files.gallery=false">Add Media</button>
                <button class="success-button no-marg" ng-click="saveGallery()">Save and Close</button>
            </div>
        </div>
        <div class="media-wrapper">
            <div ng-repeat="image in images">
                <div class="img-gallery">
                    <img ng-if="image.type==='image'" ng-src="{{image.url}}">
                    <iframe ng-if="image.type==='youtube'" width="100%" height="266" ng-src="{{image.url}}" frameborder="0" allowfullscreen></iframe>
                    <iframe ng-if="image.type==='vimeo'" ng-src="{{image.url}}" width="100%" height="266" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    <i ng-if="image.type==='pdf'" class="fa fa-file-pdf-o"></i>
                    <i ng-if="image.type==='doc'" class="fa fa-file-text-o"></i>
                    <i ng-if="image.type==='ppt'" class="fa fa-file-powerpoint-o"></i>
                    <i ng-if="image.type==='spreadsheet'" class="fa fa-file-excel-o"></i>
                    <i ng-if="image.type==='compressed'" class="fa fa-file-archive-o"></i>
                    <i ng-if="image.type==='file'" class="fa fa-file-text-o"></i>
                    <i ng-if="image.type==='audio'" class="fa fa-file-audio-o"></i>
                </div>
                <div class="img-gallery-info">
                    <p>{{image.title}}</p>
                    <label>Title</label>
                    <p>{{image.alt}}</p>
                    <label>Alt Text</label>
                    <p>{{image.url}}</p>
                    <label>URL</label>
                    <div>
                        <a class="tag" ng-repeat="tag in image.tags">
                            <i class="fa fa-tag"></i>{{tag}}
                        </a>
                    </div>
                    <button class="success-button" ng-if="!$last" ng-click="images.splice($index,1);images.splice($index+1,0,image)">Down</button>
                    <button class="success-button" ng-if="!$first" ng-click="images.splice($index,1);images.splice($index-1,0,image)">Up</button>
                    <button class="options-button" ng-click="viewFile(image);files.gallery=!files.gallery">Edit</button>
                    <button class="error-button" ng-click="images.splice($index,1)">Remove</button>
                </div>
             </div>
         </div>
    </div>
    <!-- Media Selection Area -->
    <div ng-show="!files.gallery">
        <div ng-show='!upload'>
            <div class="media-nav" id="top-anchor">
                    <i class="fa fa-chevron-left" ng-click="files.gallery=true"></i>
                <h1>Search</h1><h2>Media</h2>
                <div class="options">
                    <button class="options-button" ng-click="page.media.type=''">All</button>
                    <button class="options-button"  ng-click="page.media.type='image'">Images</button>
                    <button  class="options-button" ng-click="page.media.type='video'">Video</button>
                    <button  class="options-button" ng-click="page.media.type='audio'">Audio</button>
                    <button  class="options-button" ng-click="page.media.type='files'">Files</button>
                    <button class="success-button"  ng-click="upload=!upload">Upload</button>
                    <input class="search-bar" placeholder="Search: (e.g. vimeo, lifestyle, outdoors)" value="search" type="text" ng-model="search.$">
                </div>
                <div ng-show="selectedFile" class="img-edit">
                    <div class="media-nav">
                        <i class="fa fa-chevron-left" ng-click="selectedFile = ! selectedFile"></i><h1>Image</h1><h2>Information</h2>
                    </div>
                  <div class="img-prev">
                    <img ng-if="files.type==='image'" ng-src="{{selectedFile}}">
                    <iframe ng-if="files.type==='youtube'" width="100%" height="264" ng-src="{{selectedFile}}" frameborder="0" allowfullscreen></iframe>
                    <iframe ng-if="files.type==='vimeo'" ng-src="{{selectedFile}}" width="100%" height="188" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    <div class="img-size">
                        <label class="blk" for="sizes">Image Size: </label>
                        <input type="radio" ng-model="files.size" id="responsive" value="responsive"> <label for="responsive" ng-click="files.size='responsive'">Responsive</label>
                        <input type="radio" ng-model="files.size" id="320" value="small"> <label for="320" ng-click="files.size='small'">Small (320px)</label>
                        <input type="radio" ng-model="files.size" id="512" value="medium"> <label for="512" ng-click="files.size='medium'">Medium (512px)</label>
                        <input type="radio" ng-model="files.size" id="1024" value="large"> <label for="1024" ng-click="files.size='large'">Large (1024px)</label>
                        <input type="radio" ng-model="files.size" id="nonresponsive" value="nonresponsive"> <label for="nonresponsive" ng-click="files.size='nonresponsive'">Non-responsive</label>
                        <div class="url">
                            <label>URL</label><p>{{origFilename}}</p>
                        </div>
                    </div>
                  </div>
                    <div class="media-info">
                        <div class="img-info">
                            <input type="text" ng-model="files.title">
                            <label for="title">Title</label>
                            <input type="text" ng-model="files.class">
                            <label for="classes">CSS Classes (space separated)</label>
                            <input ng-list type="text" ng-model="files.tags" ng-change="autocompleteTags()">
                            <div class="tag-suggestions-triangle" ng-show="files.suggestions"></div>
                                <div class="tag-suggestions" ng-show="files.suggestions">
                                    <div ng-repeat="tag in files.suggestions | limitTo:10">
                                        <a ng-click="selectSuggestion(tag)">{{tag | titlecase}}</a>
                                    </div>
                                </div>
                                <label for="tags">Tags (comma separated) </label>
                            </div>
                        <div class="img-info">
                            <input type="text" ng-model="files.alt">
                            <label for="alttext">Alt Text </label>
                            <input type="text" ng-model="files.href">
                            <label for="href">Link URL</label>
                            <button class="error-button" ng-click="deleteFile()">Delete</button>
                            <button class="options-button" ng-click="save()">Save</button>
                            <button class="success-button" ng-click="selectFile()">Choose File</button>
                        </div>
                    </div>
                </div>
            </div>
                <div class="media-holder gallery-media-wrapper">
                  <div class="media-tile" ng-repeat="file in media | filter:search | filter:page.media.type | limitTo:numFiles" ng-click="viewFile(file)">
                      <div ng-if="file.type==='image'">
                          <img ng-src="{{file.filename}}" ng-if="file.type==='image'">
                      </div>
                      <div ng-if="file.type==='youtube' || file.type==='vimeo'">
                          <iframe width="100%" height="188" ng-src="{{file.filename}}" frameborder="0" allowfullscreen></iframe><button class="success-button">Edit Video</button>
                      </div>
                  </div>
                  <div class="btncase">
                    <button class="options-button" ng-click="numFiles=numFiles+12">View More</button>
                  </div>
                </div>
        </div>
        <!-- Upload Content Area -->
        <div ng-show='upload'>
            <div class="media-nav">
                    <i class="fa fa-chevron-left" ng-click="upload=!upload"></i>
                <h1>Upload</h1><h2>A File</h2>
            </div>
            <div class="uploader">
                <input class="url-uploader" type="text" ng-model="files.uploadURL" placeholder="Upload from URL: e.g., http://player.vimeo.com/video/21291918">
                <button class="success-button" ng-click="uploadFromUrl()">Save from URL</button>
                <div ng-show="progress">
                    {{progress}}
                </div>
                <div class="dropzone" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="ng-file-over" ng-show="dropSupported" class="fileDropZone">
                    <h4>Click or Drag files to upload</h4>
                    <input class="custom-form" type="file" ng-file-select="onFileSelect($files)" multiple>
                </div>
                <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!
                </div>
            </div>
        </div>
    </div>
</div>
