<div class="cosmo-default" ng-controller="filesCtrl">
    <!-- Gallery Area -->
    <div ng-show='files.gallery'>
        <div class="modal--bar-top">
            <h1 class="no-marg" translate="files_media"></h1>
            <div class="options">
                <button class="btn-options no-marg" ng-click="files.gallery=false" translate="files_add_media"></button>
                <button class="btn-success no-marg" ng-click="saveGallery()" translate="update"></button>
            </div>
        </div>
        <div class="media-wrapper">
            <div ng-repeat="image in images">
                <div class="img-gallery">
                    <img ng-if="image.type==='image'" ng-src="{{image.url}}">
                    <iframe ng-if="image.type==='youtube'" width="100%" height="266" ng-src="{{image.url}}" frameborder="0" allowfullscreen></iframe>
                    <iframe ng-if="image.type==='vimeo'" ng-src="{{image.url}}" width="100%" height="266" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    <video controls ng-if="image.type==='video'" ng-src="{{image.url}}" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></video>
                    <i ng-if="image.type==='pdf'" class="fa fa-file-pdf-o"></i>
                    <i ng-if="image.type==='doc'" class="fa fa-file-text-o"></i>
                    <i ng-if="image.type==='ppt'" class="fa fa-file-powerpoint-o"></i>
                    <i ng-if="image.type==='spreadsheet'" class="fa fa-file-excel-o"></i>
                    <i ng-if="image.type==='compressed'" class="fa fa-file-archive-o"></i>
                    <i ng-if="image.type==='file'" class="fa fa-file-text-o"></i>
                    <i ng-if="image.type==='audio'" class="fa fa-file-audio-o"></i>
                </div>
                <div class="img-gallery-info">
                    <label ng-if="image.title" translate="title"></label>
                    <p ng-if="image.title">{{image.title}}</p>
                    <label ng-if="image.alt" translate="files_alt_text"></label>
                    <p ng-if="image.alt">{{image.alt}}</p>
                    <label translate="url"></label>
                    <p>{{image.url}}</p>
                    <div>
                        <a class="tag" ng-repeat="tag in image.tags">
                            <i class="fa fa-tag"></i>{{tag}}
                        </a>
                    </div>
                    <button class="btn-success" ng-if="!$last" ng-click="images.splice($index,1);images.splice($index+1,0,image)" translate="files_down"></button>
                    <button class="btn-success" ng-if="!$first" ng-click="images.splice($index,1);images.splice($index-1,0,image)" translate="files_up"></button>
                    <button class="btn-options" ng-click="viewFile(image);files.gallery=!files.gallery" translate="edit"></button>
                    <button class="btn-error" ng-click="images.splice($index,1)" translate="files_remove"></button>
                </div>
             </div>
         </div>
    </div>
    <!-- Media Selection Area -->
    <div ng-show="!files.gallery">
        <div ng-show='!upload'>
            <div class="modal--bar-top" id="top-anchor">
                <i class="fa fa-chevron-left" ng-if="images" ng-click="files.gallery=true"></i>
                <h1 translate="files_search_media"></h1>
                <div class="options">
                    <input class="search-bar" placeholder="Search" value="search" type="text" ng-model="search.$">
                    <div class="cos-select">
                        <select ng-model="page.media.type">
                            <option value="" translate="all"></option>
                            <option value="image" translate="files_images"></option>
                            <option value="video" translate="files_video"></option>
                            <option value="audio" translate="files_audio"></option>
                            <option value="files" translate="files_files"></option>
                        </select>
                    </div>

                    <button class="btn-success upload"  ng-click="upload=!upload" translate="upload"></button>
                </div>
            </div>
            <div ng-show="selectedFile" class="img-edit">
                <div class="modal--bar-top">
                    <i class="fa fa-chevron-left" ng-click="selectedFile=!selectedFile"></i>
                    <h1 translate="files_image_information"></h1>
                    <div class="nav">
                        <button class="btn-options" ng-click="prev()" ng-show="!search&&!page.media.type&&currentIndex>0" translate="files_previous"></button>
                        <button class="btn-options" ng-click="next()" ng-show="!search&&!page.media.type&&nextExists()" translate="files_next"></button>
                    </div>
                </div>
              <div class="img-prev">
                <img ng-if="files.type==='image'" ng-src="{{selectedFile}}">
                <iframe ng-if="files.type==='youtube'" width="100%" height="264" ng-src="{{selectedFile}}" frameborder="0" allowfullscreen></iframe>
                <iframe ng-if="files.type==='vimeo'" ng-src="{{selectedFile}}" width="100%" height="188" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <iframe ng-if="files.type==='youtube'" width="100%" height="140" ng-src="{{selectedFile}}" frameborder="0" allowfullscreen></iframe>
                <video controls ng-if="files.type==='video'" ng-src="{{selectedFile}}" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></video>
                <i ng-if="files.type==='pdf'" class="fa fa-file-pdf-o"></i>
                <i ng-if="files.type==='doc'" class="fa fa-file-text-o"></i>
                <i ng-if="files.type==='ppt'" class="fa fa-file-powerpoint-o"></i>
                <i ng-if="files.type==='spreadsheet'" class="fa fa-file-excel-o"></i>
                <i ng-if="files.type==='compressed'" class="fa fa-file-archive-o"></i>
                <i ng-if="files.type==='file'" class="fa fa-file-text-o"></i>
                <i ng-if="files.type==='audio'" class="fa fa-file-audio-o"></i>
                <div class="img-size" ng-if="files.type==='image'">
                    <input type="radio" ng-model="files.size" id="responsive" value="responsive"> 
                    <label for="responsive" ng-click="files.size='responsive'" translate="files_full"></label>
                    <input type="radio" ng-model="files.size" id="1024" value="large"> 
                    <label for="1024" ng-click="files.size='large'" translate="files_large">{{files_large}} (1024px)</label>
                    <input type="radio" ng-model="files.size" id="512" value="medium"> 
                    <label for="512" ng-click="files.size='medium'" translate>files_medium (512px)</label>
                    <input type="radio" ng-model="files.size" id="320" value="small"> 
                    <label for="320" ng-click="files.size='small'" translate>files_small (320px)</label>
                    <input type="radio" ng-model="files.size" id="nonresponsive" value="nonresponsive"> 
                    <label for="nonresponsive" ng-click="files.size='nonresponsive'" translate="files_non_responsive"></label>
                    <div class="url">
                        <label translate="url"></label>
                        <p>{{origFilename}}</p>
                    </div>
                </div>
                <div class="img-size" ng-if="files.type==='video'">
                    <input id="autoplay" type="checkbox" ng-model="files.autoplay" value="true">
                    <label for="autoplay" translate="files_autoplay"></label>

                    <input id="controls" type="checkbox" ng-model="files.controls" value="true">
                    <label for="controls" translate="files_controls"></label>

                    <input id="loop" type="checkbox" ng-model="files.loop" value="true">
                    <label for="loop" translate="files_loop"></label>

                    <input id="autoload" type="checkbox" ng-model="files.autoload" value="Y">
                    <label for="autoload" translate="files_autoload"></label>
                </div>
              </div>
                <div class="media-info" ng-show="files.type!=='video'">
                    <div class="img-info">
                        <label for="title" translate="title"></label>
                        <input type="text" ng-model="files.title">

                        <label for="class" translated="files_css_classes"></label>
                        <input type="text" ng-model="files.class">

                        </div>
                    <div class="img-info">
                        <label for="alttext" translate="files_alt_text"></label>
                        <input type="text" ng-model="files.alt">

                        <label for="href" translate="files_link_url"></label>
                        <input type="text" ng-model="files.href">

                        <button class="btn-error" ng-click="deleteFile()" translate="delete"></button>
                        <button class="btn-success" ng-click="selectFile()" translate="files_choose_file"></button>
                    </div>
                </div>
            </div>
                <div class="media-holder gallery-media-wrapper">
                  <div class="media-tile" ng-repeat="file in media | filter:search | filter:page.media.type | limitTo:numFiles" ng-click="viewFile(file, $index)">
                      <div ng-if="file.type==='image'">
                          <img ng-src="{{file.src}}" ng-if="file.type==='image'">
                      </div>
                      <div ng-if="file.type==='youtube' || file.type==='vimeo'">
                          <iframe width="100%" height="140" ng-src="{{file.src}}" frameborder="0" allowfullscreen></iframe>
                          <button class="btn-options" translate="files_edit_video"></button>
                      </div>
                      <div ng-if="file.type==='video'">
                          <video controls ng-src="{{file.src}}" width="100%" height="188" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></video>
                          <button class="btn-options" translate="files_edit_video"></button>
                      </div>
                      <div class="file-prev" ng-if="file.type==='pdf'">
                          <i class="fa fa-file-pdf-o"></i>
                      </div>
                      <div class="file-prev" ng-if="file.type==='doc'">
                          <i class="fa fa-file-text-o"></i>
                      </div>
                      <div class="file-prev" ng-if="file.type==='ppt'">
                          <i class="fa fa-file-powerpoint-o"></i>
                      </div>
                      <div class="file-prev" ng-if="file.type==='spreadsheet'">
                          <i class="fa fa-file-excel-o"></i>
                      </div>
                      <div class="file-prev" ng-if="file.type==='compressed'">
                          <i class="fa fa-file-archive-o"></i>
                      </div>
                      <div class="file-prev" ng-if="file.type==='file'">
                          <i class="fa fa-file-text-o"></i>
                      </div>
                      <div class="file-prev" ng-if="file.type==='audio'">
                          <i class="fa fa-file-audio-o"></i>
                      </div>
                      <div ng-if="file.type==='pdf'">
                          <i class="fa fa-file-pdf-o"></i>
                      </div>
                      <div ng-if="file.type==='doc'">
                          <i class="fa fa-file-text-o"></i>
                      </div>
                      <div ng-if="file.type==='ppt'">
                          <i class="fa fa-file-powerpoint-o"></i>
                      </div>
                      <div ng-if="file.type==='spreadsheet'">
                          <i class="fa fa-file-excel-o"></i>
                      </div>
                      <div ng-if="file.type==='compressed'">
                          <i class="fa fa-file-archive-o"></i>
                      </div>
                      <div ng-if="file.type==='file'">
                          <i class="fa fa-file-text-o"></i>
                      </div>
                      <div ng-if="file.type==='audio'">
                          <i class="fa fa-file-audio-o"></i>
                      </div>
                  </div>
                  <button class="btn-options" ng-show="numFiles<media.length" ng-click="numFiles=numFiles+12" translate="view_more"></button>
                </div>
        </div>
        <!-- Upload Content Area -->
        <div ng-show='upload'>
            <div class="modal--bar-top">
                <i class="fa fa-chevron-left" ng-click="upload=!upload"></i>
                <h1 translate="files_upload_files"></h1>
            </div>
            <div class="uploader">
                <input class="url-uploader" type="text" ng-model="files.uploadURL" placeholder="Upload from URL: e.g.,  https://farm3.staticflickr.com/2169/2195155905_9257b2fc65_o.jpg">
                <button class="btn-success" ng-click="uploadFromUrl()" translate="files_save_from_url"></button>
                <div class="ui-progress-bar ui-container transition" id="progress_bar">
                    <div class="ui-progress" style="width: 100%;">
                        <span class="ui-label" style="display: none;" translate="files_completed"></span>
                    </div>
                </div>
                <div ng-show="progress">
                    {{progress}}
                </div>
                <div class="dropzone" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="ng-file-over" ng-show="dropSupported" class="fileDropZone">
                    <h2 translate="files_click_drag"></h2>
                    <input class="custom-form" type="file" ng-file-select="onFileSelect($files)" multiple>
                </div>
                <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported" translate="files_html5_not_supported">
                </div>
            </div>
        </div>
    </div>
</div>
