<div class='cosmo-default' ng-controller="moduleCtrl">
    <div class="bar-top">
        <i class="fa fa-chevron-left " ng-show="!settingsFile" ng-click="admin.sidebar='core/html/sidebar.html';active=''"></i>
        <i class="fa fa-chevron-left " ng-show="settingsFile" ng-click="settingsFile=''"></i>
        <h1>
            <span ng-show="!settingsFile" translate>module manager</span>
            <span ng-show="settingsFile" translate>module settings</span>
        </h1>
        <a class="sidebar-close" ng-click="admin.showAdminPanel=false;admin.active=false;">
            <i class="fa fa-times close"></i>
        </a>
    </div>
    <ul ng-repeat="module in modules" ng-if="!settingsFile">
        <li ng-class="{active: module.active=='Y'}" ng-if="module.module">
            <p class="mod-name">{{module.name}}</p>
            <button class="btn-options" ng-if="module.settings" ng-click="goToSettings(module.folder,module.settings)" translate="settings"></button>
            <button class="btn-success" ng-if="module.status=='uninstalled'" ng-click="install(module.folder, $index)" translate="install"></button>
            <button class="btn-success" ng-if="module.status=='inactive'" ng-click="activate(module.id, $index)" translate="activate"></button>
            <button class="btn-error" ng-if="module.status=='active'" ng-click="deactivate(module.id, $index)" translate="deactivate"></button>
            <button class="btn-error" ng-if="module.status=='inactive'" ng-click="uninstall(module.id, $index)" translate="uninstall"></button>
            <p ng-if="module.description">
                {{module.description}}
            </p>
        </li>
    </ul>
    <div ng-include="settingsFile"></div>
</div>
