<div class="cosmo-default sidebar adminSidebarSlideOut" ng-controller="resetPasswordCtrl">
    <div class="bar-top">
        <h1 translate="reset"></h1><h2 translate="password"></h2>
    </div>
    <div class="form-case">
        <form class="ng-pristine ng-valid">
                <label translate="new_password"></label>
                <input ng-model="reset.password" id="password" class="formfullwidth" required="" type="password">
                <label translate="confirm_password"></label>
                <input ng-model="reset.password2" id="password" class="formfullwidth" required="" type="password">
                <button ng-click="reset()" type="submit" class="success-button" translate="submit"></button>
        </form>
    </div>
</div>
<a ng-show="loginPage" href="/"></a>
