<div class="profile" ng-controller="profileCtrl">

    <div class="bar-top">
        <i class="fa fa-chevron-left " ng-click="admin.sidebar='core/html/sidebar.html';active=''"></i>
        <h1>Your Profile</h1>
        <a class="sidebar-close" ng-click="admin.showAdminPanel=false;admin.active=false;"><i class="fa fa-times close"></i></a>
    </div>

    <div class="form-case">
        <div class="half-width">
            <label for="name">Name</label>
            <input id="name" ng-model="profile.name">
        </div>

        <div class="half-width">
            <label for="email">Email</label>
            <input id="email" ng-model="profile.email">
        </div>

        <div class="half-width">
            <label for="facebook">Facebook</label>
            <input id="facebook" ng-model="profile.facebook">
        </div>

        <div class="half-width">
            <label for="twitter">Twitter</label>
            <input id="twitter" ng-model="profile.twitter">
        </div>

        <label for="bio">Bio</label>
        <textarea id="bio" ng-model="profile.bio"></textarea>

        <div class="half-width">
            <label for="photo">Profile Photo</label>
            <img ng-src="{{profile.photo}}" ng-click="addProfilePhoto()">
        </div>

        <div>
            <button class="btn-success" ng-click="updateProfile()">Save</button>
        </div>
    </div>

</div>
