<div ng-controller="revisionsCtrl">
    <div class="top-btncase">
        <i class="fa fa-chevron-left " ng-click="admin.sidebar='core/html/sidebar.html';active=''"></i>
        <h1>PAGE</h1><h2>Revisions</h2>
    </div>
    <ul ng-repeat="revision in revisions">

        <li class="revisions">
            <a class="content-title" ng-click="getRevision($index)">
                <div ng-if="revision.title"><p><strong>TITLE: </strong></p>
                    <p class="revisiontitle">{{revision.title}}</p>
                </div>
                <div ng-if="!revision.title">N/A
                </div>
            </a>
            <p class="block"><strong>AUTHOR: </strong>{{revision.author}}</p>
            <p><strong>PUBLISHED: </strong>{{revision.published}}</p>
            <p><strong>DATE: </strong>{{revision.timestamp | timestamp}}</p>
            <button class="success-button" ng-click="revert($index)">Revert</button>
        </li>
    </ul>
</div>
