<div class='cosmo-default' ng-controller="rolesCtrl">
    <div ng-show="rolePanel==='manage'">
        <div class="bar-top">
            <i class="fa fa-chevron-left " ng-click="admin.sidebar='core/html/sidebar.html';active=''"></i>
            <h1>Roles</h1><h2>Management</h2>
        </div>
        <div class="form-case--border">
            <label for="name">Add a new role:</label>
            <input value="name" type='text' ng-model='role.newName' placeholder="e.g., manager, publisher, editor, intern">
            <button class="btn-success" ng-click='newRole()'>Create</button>
        </div>
        <ul>
            <li ng-repeat='role in roles'><a href='' ng-click='selectRole(role)' ng-if="role.name">{{role.name}}</a></li>
        </ul>
    </div>
    <div ng-show="rolePanel==='edit'">
        <div class="bar-top">
            <i class="fa fa-chevron-left " ng-click="rolePanel='manage'"></i>
            <h1>Edit</h1><h2>{{role.name}}</h2>
        </div>
            <div class="form-case">
                <label for="name">Edit Role Name:</label>
                <input type='text' ng-model='role.name'>
            </div>
            <label class="role-label">Permissions:</label>
            <div class="role-permissions" ng-repeat="permission in role.permissions">
                <p>{{permission.name}}</p>
                <input id="read" type="checkbox" ng-model="role.permissions[$index].read">
                <label for="read">read</label>
                <input id="write" type="checkbox" ng-model="role.permissions[$index].write">
                <label for="write">write</label>
                <input id="update" type="checkbox" ng-model="role.permissions[$index].update">
                <label for="update">update</label>
                <input id="delete" type="checkbox" ng-model="role.permissions[$index].delete">
                <label for="delete">delete</label>
            </div>
        <div class="btn-case-btm">
            <button type="button" class="btn-error" ng-click='deleteRole()'>Delete</button>
            <button type="button" class="btn-success" ng-click="saveRoles()">Save</button>
        </div>
    </div>
</div>
