<div ng-controller="settingsCtrl">
    <div class="bar-top">
        <a ng-click="admin.sidebar='core/html/sidebar.html'"><i class="fa fa-angle-left"></i></a>
        <h1 translate="settings"></h1>
        <a class="sidebar-close" ng-click="admin.showAdminPanel=false;admin.active=false;"><i class="fa fa-times"></i></a>
    </div>

    <div class="bar--actions">
        <button ng-click='changeSettings()' translate="save"></button>
    </div>

    <div class="form-case">
        <div>
            <input type="radio" value="en" ng-model="settings.language"></input>
            <label for="en" ng-click="changeLanguage('en');settings.language='en'">English</label>
            <input type="radio" value="it" ng-model="settings.language"></input>
            <label for="it" ng-click="changeLanguage('it');settings.language='it'">Italiano</label>
            <input type="radio" value="ru" ng-model="settings.language">
            <label for="ru" ng-click="changeLanguage('ru');settings.language='ru'">русский язык</label>
            <input type="radio" value="pl" ng-model="settings.language">
            <label for="pl" ng-click="changeLanguage('pl');settings.language='pl'">polszczyzna</label>
            <input type="radio" value="th" ng-model="settings.language">
            <label for="th" ng-click="changeLanguage('th');settings.language='th'">ภาษาไทย</label>
        </div>

        <div class="half-width">
            <label class="type" for="logo" translate="logo"></label>
            <img ng-src="{{settings.logo}}" ng-click="uploadPhoto('logo')">
        </div>

        <div class="half-width">
            <label class="type" for="favicon" translate="favicon"></label>
            <img ng-src="{{settings.favicon}}" ng-click="uploadPhoto('favicon')">
        </div>

        <label for="sitename" translate="settings_site_name"></label>
        <input value="sitename" type='text' ng-model='settings.siteName' placeholder="e.g., Tom's Restaurant">

        <label for="slogan" translate="settings_slogan"></label>
        <input value="slogan" type='textarea' ng-model='settings.slogan' placeholder="e.g., These pretzels are making me thirsty">

        <label for="email" translate="email"></label>
        <input value="email" type='text' ng-model='settings.email' placeholder="info@cosmocms.org">

        <label for="maintenance" translate="settings_maintenance_url"></label>
        <input value="maintenance" type='text' ng-model='settings.maintenanceURL' placeholder="/maintenance">

        <input type='checkbox' id="maintenance" ng-model='settings.maintenanceMode'>
        <label class="maint-mode" for="maintenance" translate="settings_activate_maintenance"></label>
    </div>
</div>
