<div class="bar-top">
    <img ng-src="{{admin.photo}}" ng-click="admin.sidebar='core/html/profile.html';showAdminPanel=true">
    <div class="prfl-info">
        <p ng-click="admin.sidebar='core/html/profile.html';showAdminPanel=true"> {{admin.username}}</p>
        <a ng-click="logout()">Log Out</a>
    </div>
</div>
<ul>
    <li ng-show="admin.roleNum<=3" ng-class="{active: active=='content'}" ng-click="contentDropdown=!contentDropdown">
        <a><i class="fa fa-file-text-o "></i>Content</a>
        <ul ng-show="contentDropdown">
            <li ng-click="admin.sidebar='core/html/page.html';active='content';showAdminPanel=true;navigate()"><a><i class="fa fa-file-o "></i>New Page</a></li>
            <li ng-click="showAdminPanel=true;admin.sidebar='core/html/content-list.html';active='content';"><a><i class="fa fa-eye "></i>Browse</a></li>
            <li ng-click="showAdminPanel=true;admin.sidebar='core/html/page.html';active='content'"><a><i class="fa fa-pencil-square-o "></i>Edit Page</a></li>
            <li ng-click="admin.sidebar='core/html/revisions.html';active='content';showAdminPanel=true;"><a><i class="fa fa-terminal "></i>Revisions</a></li>
            <li ng-click="admin.sidebar='core/html/tags.html';active='content';showAdminPanel=true;"><a><i class="fa fa-tags "></i>Manage Tags</a></li>
        </ul>
    </li>
    <li ng-show="admin.roleNum==1" ng-class="{active: active=='menus'}" ng-click="admin.sidebar='core/html/menu.html';active='menus';showAdminPanel=true"><a><i class="fa fa-sitemap "></i>Menus</a></li>
    <li ng-show="admin.roleNum==1" ng-class="{active: active=='blocks'}" ng-click="admin.sidebar='core/html/blocks.html';active='blocks';showAdminPanel=true"><a><i class="fa fa-square-o "></i>Blocks</a></li>
    <li ng-show="admin.roleNum==1" ng-class="{active: active=='theme'}" ng-click="admin.sidebar='core/html/theme.html';active='theme';showAdminPanel=true"><a><i class="fa fa-tint "></i>Theme</a></li>
    <li ng-show="admin.roleNum==1" ng-class="{active: active=='users'}" ng-click="clearPage();admin.sidebar='core/html/users.html';active='users';showAdminPanel=true"><a><i class="fa fa-users "></i>Users</a></li>
    <li ng-show="admin.roleNum==1" ng-class="{active: active=='modules'}" ng-click="admin.sidebar='core/html/modules.html';active='modules';showAdminPanel=true"><a><i class="fa fa-puzzle-piece "></i>Modules</a></li>
    <li ng-show="admin.roleNum==1" ng-class="{active: active=='settings'}" ng-click="admin.sidebar='core/html/settings.html';active='settings';showAdminPanel=true"><a><i class="fa fa-gear "></i>Settings</a></li>
</ul>
