<div class='cosmo-default' ng-controller="themeCtrl">
    <div class="bar-top">
        <i class="fa fa-chevron-left " ng-click="admin.sidebar='core/html/sidebar.html';active=''"></i>
        <h1 translate="themes_header"></h1>
        <a class="sidebar-close" ng-click="admin.showAdminPanel=false;admin.active=false;">
            <i class="fa fa-times close"></i>
        </a>
    </div>
    <ul>
        <li ng-repeat="theme in themes">
            <a>{{theme.name}}</a>
            <img ng-src="themes/{{theme.name}}/preview.jpg">
            <button class="btn-success" ng-click="changeTheme(theme.name)" translate="select"></button>
        </li>
    </ul>
</div>
