<div class="cosmo-toolbar-large" ng-show="editor.showToolbar">
    <ul>
        <li>
            <button ng-mouseenter="editor.dropdown='format'" ng-mouseleave="editor.dropdown=null">
                <i class="fa fa-fw fa-font"></i>
            </button>
        </li>
        <li>
            <button ng-mouseenter="editor.dropdown='style'" ng-mouseleave="editor.dropdown=null">
                <i class="fa fa-fw fa-bold"></i>
            </button>
        </li>
        <li>
            <button ng-mouseenter="editor.dropdown='link'" ng-mouseleave="editor.dropdown=null">
                <i class="fa fa-fw fa-link"></i>
            </button>
        </li>
        <li>
            <button ng-mouseenter="editor.dropdown='list'" ng-mouseleave="editor.dropdown=null">
                <i class="fa fa-fw fa-list-ul"></i>
            </button>
        </li>
        <li>
            <button ng-mouseenter="editor.dropdown='align'" ng-mouseleave="editor.dropdown=null">
                <i class="fa fa-fw fa-align-justify"></i>
            </button>
        </li>
        <li class="table">
            <button ng-mouseenter="editor.dropdown='table'" ng-mouseleave="editor.dropdown=null">
                <i class="fa fa-fw fa-table"></i>
            </button>
        </li>
        <li class="media">
            <button ng-mouseenter="editor.dropdown='media'" ng-mouseleave="editor.dropdown=null">
                <i class="fa fa-fw fa-camera-retro"></i>
            </button>
        </li>
        <li class="code">
            <button ng-mouseenter="editor.dropdown='code'" ng-mouseleave="editor.dropdown=null">
                <i class="fa fa-fw fa-code"></i>
            </button>
        </li>
    </ul>

    <div class="wysiwyg-dropdown" ng-show="editor.dropdown=='format'" ng-mouseenter="editor.dropdown='format'" ng-mouseleave="editor.dropdown=null">
        <button class="wysiwyg-p" ng-click="action('p')" translate="paragraph"></button>
        <button class="wysiwyg-q" ng-click="action('blockquote')" translate="toolbar_block_quote"></button>
        <button class="wysiwyg-c" ng-click="action('code')" translate="toolbar_code"></button>
        <button class="wysiwyg-h1" ng-click="action('h1')" translate>header 1</button>
        <button class="wysiwyg-h2" ng-click="action('h2')" translate>header 2</button>
        <button class="wysiwyg-h3" ng-click="action('h3')" translate>header 3</button>
        <button class="wysiwyg-h4" ng-click="action('h4')" translate>header 4</button>
        <button class="wysiwyg-h5" ng-click="action('h5')" translate>header 5</button>
        <button class="wysiwyg-h6" ng-click="action('h6')" translate>header 6</button>
    </div>
    <div class="wysiwyg-dropdown" ng-show="editor.dropdown=='style'" ng-mouseenter="editor.dropdown='style'" ng-mouseleave="editor.dropdown=null">
        <button ng-click="action('bold')" translate>toolbar_bold</button>
        <button ng-click="action('italic')" translate>toolbar_italicize</button>
        <button ng-click="action('strikethrough')" translate>toolbar_strikethrough</button>
        <button ng-click="action('underline')" translate>toolbar_underline</button>
        <button class="wysiwyg-u" ng-click="action('unformat')" translate>toolbar_unformat</button>
    </div>
    <div class="wysiwyg-dropdown" ng-show="editor.dropdown=='link'" ng-mouseenter="editor.dropdown='link'" ng-mouseleave="editor.dropdown=null">
        <button ng-click="action('link')" translate>toolbar_add_link</button>
        <button ng-click="action('unlink')" translate>toolbar_remove_link</button>
        <button ng-click="action('externalLink')" translate>toolbar_external_link</button>
    </div>
    <div class="wysiwyg-dropdown" ng-show="editor.dropdown=='align'" ng-mouseenter="editor.dropdown='align'" ng-mouseleave="editor.dropdown=null">
        <button ng-click="action('left')" translate>toolbar_align_left</button>
        <button ng-click="action('center')" translate>toolbar_align_center</button>
        <button ng-click="action('right')" translate>toolbar_align_right</button>
        <button ng-click="action('justify')" translate>toolbar_justify_text</button>
    </div>
    <div class="wysiwyg-dropdown" ng-show="editor.dropdown=='table'" ng-mouseenter="editor.dropdown='table'" ng-mouseleave="editor.dropdown=null">
        <button translate>toolbar_insert_table</button>
        <div class="table-dropdown--insert">
            <button ng-repeat="cell in editor.tableRows" ng-class="{'cell-select--focus': selectedCell(cell.row, cell.col)}" class="cell-select" ng-mouseover="cellMouseover(cell.row, cell.col)" ng-click="createTable(cell.row, cell.col)"></button>
            <p>{{mouseoverCol}} x {{mouseoverRow}}</p>
        </div>
        <button class="divide" ng-click="action('table')" translate>toolbar_paste_table</button>
        <button ng-click="action('addTableHeader')" translate>toolbar_table_head</button>
        <button class="divide" ng-click="action('removeTableHeader')" translate>toolbar_table_head</button>
        <button ng-click="action('addRowAbove')" translate>toolbar_row_above</button>
        <button ng-click="action('addRowBelow')" translate>toolbar_row_below</button>
        <button class="divide" ng-click="action('deleteRow')" translate>toolbar_row</button>
        <button ng-click="action('addColLeft')" translate>toolbar_column_left</button>
        <button ng-click="action('addColRight')" translate>toolbar_column_right</button>
        <button class="divide" ng-click="action('deleteCol')" translate>toolbar_column</button>
        <button ng-click="action('deleteTable')" translate>toolbar_table</button>
    </div>
    <div class="wysiwyg-dropdown" ng-show="editor.dropdown=='media'" ng-mouseenter="editor.dropdown='media'" ng-mouseleave="editor.dropdown=null">
        <button ng-click="action('photo')" translate>toolbar_photo</button>
        <button ng-click="action('video')" translate>toolbar_upload_video</button>
        <button ng-click="action('videourl')" translate>toolbar_external_video</button>
        <button ng-click="action('audio')" translate>toolbar_audio</button>
        <button ng-click="action('gallery')" translate>toolbar_gallery</button>
    </div>
    <div class="wysiwyg-dropdown" ng-show="editor.dropdown=='code'" ng-mouseenter="editor.dropdown='code'" ng-mouseleave="editor.dropdown=null">
        <button ng-click="action('toggle')" translate>toolbar_code_view</button>
        <button ng-click="action('html')" translate>toolbar_insert_html</button>
        <button ng-click="action('div')" translate>toolbar_div</button>
        <button ng-mouseenter="editor.premadeDirective=true" ng-mouseleave="editor.premadeDirective=false" translate>toolbar_directive</button>
        <div ng-show="editor.premadeDirective" ng-mouseenter="editor.premadeDirective=true" ng-mouseleave="editor.premadeDirective=false" ng-click="editor.premadeDirective=false" class="directive-dropdown">
            <button ng-repeat="directive in editor.directives track by $index" ng-click="action('premade', '{{directive.directive}}', '{{directive.description}}')">{{directive.name}}</button>
        </div>
    </div>
    <div class="wysiwyg-dropdown" ng-show="editor.dropdown=='list'" ng-mouseenter="editor.dropdown='list'" ng-mouseleave="editor.dropdown=null">
        <button ng-click="action('ol')" translate>toolbar_ordered_list</button>
        <button ng-click="action('ul')" translate>toolbar_unordered_list</button>
        <button ng-click="action('hr')" translate>toolbar_line_break</button>
        <button ng-click="action('indent')" translate>toolbar_indent</button>
        <button ng-click="action('outdent')" translate>toolbar_outdent</button>
    </div>
</div>
