<div ng-controller="usersCtrl">
    <div ng-show="!selectedUser">

        <div class="top-btncase">
            <i class="fa fa-chevron-left " ng-click="admin.sidebar='core/html/sidebar.html';active=''"></i>
            <h1>Manage</h1><h2>Users</h2>
        </div>

        <div class="formcase-border">
            <div ng-controller="loginRegistrationCtrl">
                <h3>Create a new user</h3>
                <input type="text" ng-model="register.username"><label>Username</label>
                <input type="text" ng-model="register.email"><label>Email</label>
                <input type="password" ng-model="register.password"><label>Password</label>
                <input type="password" ng-model="register.confirmPassword"><label>Confirm Password</label>
            </div>
            <button class="success-button" ng-click="register()">Create User</button>
        </div>
        <div class="formcase-border">
            <input placeholder="Username or Email" value="search" type="text" ng-model="users.search" ng-change="search()"><label>Search</label>
        </div>
        <ul>
            <li ng-repeat="user in users.data">
                <a class="user-info" ng-click="selectUser(user)"><i class="fa fw fa-user "></i> {{user.username}}</a>
                <a class="user-info" ng-click="selectUser(user)"><i class="fa fw fa-envelope"></i>{{user.email}}</a>
            </li>
        </ul>
    </div>

    <div class="permissions" ng-show="selectedUser">

        <div class="top-btncase">
            <i class="fa fa-chevron-left " ng-click="selectedUser=false"></i>
            <h1>Manage</h1><h2>User</h2>
        </div>

        <p><strong>Edit roles for {{selectedUser.username}}</strong></p>
        <div class="formcase" ng-repeat="role in roles">
            <input value="roles" id="roles" type="checkbox" ng-model="users.selectedRoles[$index]" ng-true-value="{{role.id}}" ng-checked="checkedRole[role.id]" ng-if="role.id"><label for="roles" ng-if="role.id">{{role.name}}</label>
        </div>
        <div class="btncase">
            <div ng-show="confirm">
                Are you sure you want to delete {{selectedUser.username}}? <a ng-click="delete()">Yes</a> <a ng-click="confirm=false">No</a>
            </div>
            <button class="error-button" ng-click="confirm=true">Delete</button>
            <button class="success-button" ng-click="save()">Save</button>
        </div>
    </div>
</div>
