<div ng-controller="usersCtrl">
    <div ng-show="!selectedUser">

        <div class="top-btncase">
            <i class="fa fa-chevron-left " ng-click="admin.sidebar='core/html/sidebar.html';active=''"></i>
            <h1>Manage</h1><h2>Users</h2>
        </div>

        <div class="formcase-border">
            <div ng-controller="loginRegistrationCtrl">
                <h3 ng-click="createUser=!createUser"><span ng-if="!createUser">Create a new user</span><span ng-if="createUser">Close</span></h3>
                <div ng-show="createUser">
                    <input type="text" ng-model="register.username"><label>Username</label>
                    <input type="text" ng-model="register.email"><label>Email</label>
                    <input type="password" ng-model="register.password"><label>Password</label>
                    <input type="password" ng-model="register.confirmPassword"><label>Confirm Password</label>
                    <button class="success-button" ng-click="register()">Create User</button>
                </div>
            </div>
        </div>
        <div class="formcase-border">
            <input placeholder="Username or Email" value="search" type="text" ng-model="users.search"><label>Search</label>
        </div>
        <ul>
            <li ng-repeat="user in users.data | filter:users.search">
                <i class="fa fw fa-user "></i><input ng-model="user.username" ng-keyup="updateUser(user)">
                Role: 
                <select ng-model="user.role" ng-change="updateUser(user)">
                    <option value="admin">admin</option>
                    <option value="editor">editor</option>
                    <option value="author">author</option>
                    <option value="contributor">contributor</option>
                </select><br />
                <i class="fa fw fa-envelope"></i><input ng-model="user.email" ng-keyup="updateUser(user)">
            </li>
        </ul>
    </div>
</div>
