<div class="cosmo-default wysiwyg">
    <div class="toolbar-large">
        <div class="button">
            <i class="fa fa-code " ng-click="action('toggle')"></i>
        </div>
        <div class="button">
            <i class="fa bold " ng-click="action('bold')"></i>
        </div>
        <div class="button">
            <i class="fa fa-italic " ng-click="action('italic')"></i>
        </div>
        <div class="button">
            <i class="fa fa-strikethrough " ng-click="action('strikethrough')"></i>
        </div>
        <div class="button">
            <i class="fa fa-unerline " ng-click="action('strikethrough')"></i>
        </div>
        <div class="button">
            <i class="fa fa-link " ng-click="action('link')"></i>
        </div>
        <div class="button">
            <i class="fa fa-chain-broken " ng-click="action('unlink')"></i>
        </div>
        <div class="button">
            <i class="fa fa-list-ol " ng-click="action('ol')"></i>
        </div>
        <div class="button">
            <i class="fa fa-list-ul " ng-click="action('ul')"></i>
        </div>
        <div class="button">
            <i class="fa fa-indent " ng-click="action('indent')"></i>
        </div>
        <div class="button">
            <i class="fa fa-outdent " ng-click="action('outdent')"></i>
        </div>
        <div class="button">
            <i class="fa fa-align-left " ng-click="action('left')"></i>
        </div>
        <div class="button">
            <i class="fa fa-align-right " ng-click="action('right')"></i>
        </div>
        <div class="button">
            <i class="fa fa-align-center " ng-click="action('center')"></i>
        </div>
        <div class="button">
            <i class="fa fa-arrows-h " ng-click="action('hr')"></i>
        </div>
        <div class="button">
            <i class="fa fa-table " ng-click="action('table')"></i>
        </div>
    </div>
    <div contenteditable ng-class="{'code-editor': editor.codeEditor}">Edit this</div>
</div>
