[ng-include="template"] {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

[ng-include="template"].ng-enter {
    opacity: 0;
    transition: 1s ease;
}

[ng-include="template"].ng-enter-active{
    opacity: 1;
}

[ng-include="template"].ng-leave {
    opacity: 1;
    transition: 1s ease;
}

[ng-include="template"].ng-leave-active {
    opacity: 0;
}

.cosmo-theme {
    @import "global/media-queries";
    @import "global/z-index";
    @import "global/margins-padding";
    @import "global/grid";
    @import "global/color";
    @import "global/type";
    @import "global/buttons";
    @import "global/nav";
    @import "global/img";
    @import "global/shame";
    @import "global/lists";
    @import "global/animation";

    @import "partials/header";
    @import "partials/search";
    @import "partials/banners";
    @import "partials/article-overview";
    @import "partials/article";
    @import "partials/tables";

    @import "modules/google-maps";
}
