.blocks {

    .blk-code {
        @extend input;
        border: 1px solid palette(gray, dark);
        height: 31.25rem;
        overflow: scroll;
    }

    .formcase {

        button {
            margin-top: 1.5rem;
        }
    }

    .page-select{
        display: inline-block;
        margin-right: .625rem;

        label {
            margin-bottom: 0;
        }
    }

    .search {
        margin-bottom: 0;
    }
}
