%button {
    background-color: transparent;
    color: palette(blue, dark);
    cursor: pointer;
    display: inline-block;
    font-size: .813em;
    font-weight: 200;
    margin: 0 .313rem .65rem 0;
    outline: none;
    padding: 0.65rem 1rem 0.75rem 1rem;
    text-align: center;
    text-transform: lowercase;
    transition: all .25s ease-in-out;

    &:focus {
        color: palette(gray, white);
    }

    &:hover {
        color: palette(gray, light);
    }

    &:last-child {
        margin-right: 0;
    }
}


/* Standard buttons */

.error-button {
    @extend %button;
    border: 1px solid palette(gray, mid);

    &:focus {
        background-color: palette(alert, error--dark);
        border: 1px solid palette(alert, error--dark);
    }

    &:hover {
        background-color: palette(alert, error);
        border: 1px solid palette(alert, error--dark);
    }

}

.options-button {
    @extend %button;
    border: 1px solid palette(gray, mid);

    &:focus {
        background-color: palette(blue, dark);
        border: 1px solid palette(blue, dark);
    }

    &:hover {
        background-color: palette(gray, mid);
        border: 1px solid palette(blue, dark);
        color: palette(blue, dark);
    }
}

.success-button {
    @extend %button;
    border: 1px solid palette(gray, mid);

    &:focus {
        background-color: palette(alert, success--dark);
        border: 1px solid palette(alert, success--dark);
    }

    &:hover {
        background-color: palette(alert, success);
        border: 1px solid palette(alert, success--dark);
    }
}

.new {
    background-color: palette(gray, light);
    opacity: 1;
    text-align: left;
    text-transform: lowercase;
    width: auto;
    z-index: 100000;

    &:focus {
        outline: none;
    }

    &:hover {

        i {
            color: palette(blue, light);
        }
    }

    i {
        color: palette(blue, dark);
        margin-right: .313rem;
        transition: color .15s ease-in;
        vertical-align: middle;
        @include font-size(12);
    }

    p {
        display: inline-block;
        margin-bottom: 0;
    }

}

.new.ng-hide-add.ng-hide-add-active,
.new.ng-hide-remove.ng-hide-remove-active {
    transition: all linear 0.5s;
}

.new.ng-hide {
    opacity: 0;
}
