// Label with a fixed width for form styling
.fw-label {
	width: 12rem;
	display: inline-block;

	i {
		margin-right: $pad-alpha;
	}
}

.hide {
	border: 0;
	clip: rect(0 0 0 0);
	height: .1rem;
	margin: -.1rem;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: .1rem;
}

// Number count for things like titles, descriptions etc...
.num-count {
	float: right;
	color: $color-brand-blue;
}

// Case to adjust sides of form area
.formcase {
	padding: $pad-epsilon $pad-epsilon 0 $pad-epsilon;
	overflow-y: scroll;

	.block {
		margin: $pad-epsilon * .5 0;
		display: block;
	}

	.btncase {
		margin: 0;
	}
}

// Similar to formcase or btncase, but with a border at the bottom
.formcase-border {
	@include border ($border-alpha-dark, bottom);
	padding: $pad-epsilon $pad-epsilon 0 $pad-epsilon;

	input {
		@include border ($border-alpha-dark, bottom);
	}

	> div {
		button {
			margin-bottom: $pad-delta;
		}
	}
}

// Modified select style dropdown
.cos-select {
	@include border ($border-beta, top, right, bottom, left);
	background: url(../img/arrows.svg) no-repeat transparent right;
	background-size: 3.5rem 1.5rem;
	color: $color-beta;
	cursor: pointer;
	font-family: $font-alpha;
	height: 4rem;
	margin-top: $pad-delta;
	outline: none;
	padding-left: 1rem;
	width: 100%;

	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: none;
		cursor: pointer;
		height: 4rem;
		outline: 0;
		padding-left: 0;
		width: 100%;
	}
}

.cos-select-half {
	@extend .cos-select;
	display: inline-block;
	margin-right: $pad-beta;
	width: 45%;
}

input {
	@include font-size(15);
	background-color: transparent;
	border: 0;
	@include border ($border-alpha-dark, bottom);
	box-shadow: none;
	color: lighten($color-beta, 20%);
	display: inline-block;
	font-family: $font-alpha;
	font-weight: $font-weight-alpha;
	margin: 0;
	outline: none;
	padding: 0 0 $pad-alpha 0;
	width: 100%;

	span {
		color: lighten($color-beta, 20%);
	}

	&:hover {
		background-color: transparent;
		cursor: text;
	}

	&:focus {
		background-color: transparent;
		border: 0;
		@include border ($border-beta, bottom);
	}
}

.label-case {
	display: block;
	margin-bottom: $pad-beta;
}

.schedule-triangle {
	margin: 0 0 -2.75rem $pad-delta * 9;
	@include triangle(2.8rem, $color-beta, up);
}

textarea {
	@extend input;
	min-height: 9rem;
	resize: vertical;
}

// Styling for the drag/drop menu creator
.menu-creator {

	i {
		margin-right: $pad-epsilon * .25;
	}
}

// Hide radio button (the round disc) we will use just the label as the radio button
input[type=radio] {
    display:none;
    margin: $pad-beta;
}

// Change the look of labels that are now covering the input button
input[type=radio] + label {
	@include button($color-alpha, darken($color-alpha, 10%), $border-alpha-dark);
	padding: .7rem;
	color: $color-beta;
	margin-bottom: $pad-alpha;
	margin-right: 0;
	border-color: transparent;

	&:before {
		font-family: $font-beta;
		content: "\f10c";
		margin-right: $pad-alpha;
	}
}
// Change background color for label to make it look selected
input[type=radio]:checked + label {
    background-color: $color-beta;
	background-image: none;
	color: $color-alpha;

	&:before {
		content: "\f111";
		font-family: $font-beta;
		margin-right: $pad-alpha;
	}
}


// Hide radio button (the round disc) we will use just the label as the radio button
input[type=checkbox] {
	display:none;
	margin: $pad-beta;
}

// Change the look of labels that are now covering the input button
input[type=checkbox] + label {
	@include button($color-alpha, darken($color-alpha, 10%), $border-alpha-dark);
	padding: .7rem;
	color: $color-beta;
	margin-bottom: $pad-alpha;
	margin-right: 0;
	border-color: transparent;

	&:before {
		font-family: $font-beta;
		content: "\f058";
		margin-right: $pad-alpha;
	}
}

// Change background color for label to make it look selected
input[type=checkbox]:checked + label {
	background-color: $color-beta;
	background-image: none;
	color: $color-alpha;
}


// Styling for link inserter, needs to be different than a standard input
.form-control {
	@extend input;
	min-height: 3.1rem;
}

.form-control-focus {
	@extend input:focus;
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
	color: $border-alpha-dark;
}
