// Label with a fixed width for form styling
.fw-label {
	display: inline-block;
	width: 12rem;

	i {
		margin-right: .313rem;
	}
}

.hide {
	border: 0;
	clip: rect(0 0 0 0);
	height: .1rem;
	margin: -.1rem;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: .1rem;
}

/* number count for things like titles, descriptions etc... */
.num-count {
	color: palette(blue, light);
	font-size: .85em;
	font-weight: 300;
	float: right;
}

/* Case to adjust sides of form area */
.formcase {
	overflow-y: scroll;
	padding: 1.563rem 1.563rem 0 1.563rem;
}

// Similar to formcase or btncase, but with a border at the bottom
.formcase-border {
	border-bottom: 1px solid palette(gray, mid);
	padding: 1.563rem;

	> div {

		button {
			margin-bottom: 2rem;
		}
	}

	input {
		border-bottom: 1px solid palette(gray, mid);
	}
}

/* modified select style dropdown */
.cos-select {
	background: url(../img/arrows.svg) no-repeat transparent right;
	background-size: 1.5rem .938rem;
	border: 1px solid palette(gray, mid);
	box-sizing: border-box;
	color: palette(blue, dark);
	cursor: pointer;
	font-family: $font-alpha;
	height: 3rem;
	margin-top: 1.5rem;
	outline: none;
	padding-left: .5rem;
	width: 100%;

	select {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		background: none;
		border: 0;
		cursor: pointer;
		height: 3rem;
		outline: 0;
		padding-left: 0;
		width: 100%;
	}
}

.cos-select-half {
	@extend .cos-select;
	display: inline-block;
	margin-right: .625rem;
	width: 8rem;

	&:last-child {
		margin-right: 0;
	}
}

input {
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid palette(gray, mid);
	box-shadow: none;
	color: palette(blue, dark);
	display: inline-block;
	font-family: $font-alpha;
	font-weight: 200;
	margin: 0;
	outline: none;
	padding: 0 0 .313rem 0;
	width: 100%;

	&:focus {
		background-color: transparent;
		border: 0;
		border-bottom: 1px solid palette(gray, dark);
	}

	&:hover {
		background-color: transparent;
		cursor: text;
	}

	span {
		color: palette(blue, dark);
	}
}

.label-case {
	display: block;
	margin-bottom: .625rem;
}

.schedule-triangle {
	border-bottom: 8px solid $color-beta;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	height: 0;
	width: 0;
}

textarea {
	@extend input;
	min-height: 9rem;
	resize: vertical;
}

/* styling for the drag/drop menu creator */
.menu-creator {

	i {
		margin-right: 1.563rem * .25;
	}
}

/* hide radio button (the round disc) we will use just the label as the radio button */
input[type=radio] {
    display:none;
    margin: .625rem;
}

/* change the look of labels that are now covering the input button */
input[type=radio] + label {
	@extend %button;
	background-color: palette(gray, light);
	border-color: transparent;
	color: palette(blue, dark);
	display: inline-block;
	padding: .7rem;
	margin-bottom: .313rem;
	margin-right: 0;

	&:before {
		content: "\f10c";
		font-family: $font-beta;
		margin-right: .313rem;
	}

	&:hover {
		background-color: palette(gray, mid);
		color: palette(blue, dark);
	}
}
/* change background color for label to make it look selected */
input[type=radio]:checked + label {
    background-color: palette(blue, dark);
	background-image: none;
	color: palette(gray, light);
	display: inline-block;

	&:before {
		content: "\f111";
		font-family: $font-beta;
		margin-right: .313rem;
	}
}

input[type=radio].active + label {
	background-color: palette(blue, dark);
	background-image: none;
	color: palette(gray, light);
	display: inline-block;

	&:before {
		content: "\f111";
		font-family: $font-beta;
		margin-right: .313rem;
	}
}

/* hide radio button (the round disc) we will use just the label as the radio button */
input[type=checkbox] {
	display:none;
	margin: .625rem;
}

/* change the look of labels that are now covering the input button */
input[type=checkbox] + label {
	@extend %button;
	background-color: palette(gray, light);
	border-color: transparent;
	color: palette(blue, dark);
	display: inline-block;
	margin-bottom: 2rem;
	margin-right: 0;
	padding: .313rem + .2rem;

	&:before {
		content: "\f058";
		font-family: $font-beta;
		margin-right: .313rem;
	}

	&:hover {
		background-color: palette(gray, mid);
		color: palette(blue, dark);
	}
}

/* change background color for label to make it look selected */
input[type=checkbox]:checked + label {
	background-color: palette(blue, dark);
	background-image: none;
	color: palette(gray, light);
	display: inline-block;
}


/* styling for link inserter, needs to be different than a standard input */
.form-control {
	@extend input;
	min-height: 3.1rem;
}

.form-control-focus {
	@extend input:focus;
}
