ul {
  padding: 0;
  margin: 0;

  li {
    border-bottom: .1rem solid darken($color-alpha, 5%);
    padding: $pad-gamma $pad-epsilon;
    overflow: hidden;
    text-overflow: ellipsis;

    .cos-select-half {
        margin-bottom: 0;
    }

    p {
      display: inline-block;
      margin-right: $pad-beta;
      margin-bottom: 0;
    }
    .block {
      display: block;
    }

    a {
      color: $color-beta;
      display: block;
      font-weight: 200;
      @include font-size(15);

      &:hover {
          color: $color-beta;

          i {
              color: $color-delta;
          }
      }
    }

    i {
        color: $color-beta;
        @include font-size(15);
        margin-right: $pad-beta + .25;
        vertical-align: top;
    }

    small {

        i {
            @include font-size(12.5);
            margin-right: $pad-alpha;
            vertical-align: middle;
        }
    }

    .active {
      background-color: $color-delta;
      color: $color-beta;
    }

    &:hover {
        background-color: lighten($color-alpha, 2%);

        i {
            color: $color-delta;
        }
    }

    ul {
      margin-left: -4.5rem;

      li {
        padding-left: $pad-beta * 7;
        margin-right: -$pad-epsilon;
        background-color: darken($color-alpha, 5%);

        &:hover {
            background-color: $color-beta;

            a {
                @include color(color, light-gray);
            }

            i {
                color: $color-delta;
            }
        }

        &:first-child {
          margin-top: $pad-gamma;
        }

        &:last-child {
          margin-bottom: -$pad-gamma;
        }
      }
    }

    .btncase {
      margin-left: 0;
      margin-top: $pad-beta;
    }
  }
}

ol {
    margin: 0 $pad-delta;
    padding: 0;
}
