.login {
    .formcase {
        padding: 8.5rem $pad-epsilon 0 $pad-epsilon;

        button {
            margin-bottom: 0;
        }

        div.form {
            width: 43rem;
            display: inline-block;

            @media #{$bp-delta} {
                width: 28.4rem;
            }

            @media #{$bp-gamma} {
                width: 49.5%;
            }

            @media #{$bp-beta} {
                display: block;
                width: 100%;
            }
        }
    }
}
