// Colors
$color-alpha: rgba(233, 238, 239, 1);
$color-beta: rgba(74, 96, 103, 1);
$color-gamma: rgba(190, 190, 191, 1);

// Brand Based Colors
$color-alert: rgba(255, 211, 44, 1);
$color-error: rgba(234, 29, 44, 1);
$color-success: rgba(32, 186, 44, 1);
$color-brand-blue: rgba(112, 200, 196, 1);

// Overlay Colors
$color-beta-overlay: rgba(128, 130, 133, .9);
$color-brand-blue-overlay: rgba(112, 200, 196, .75);

// Padding & Margins
$pad-alpha: .5rem;
$pad-beta: 1rem;
$pad-gamma: 1.5rem;
$pad-delta: 2rem;
$pad-epsilon: 2.5rem;

// Fonts
$font-alpha: quicksand, sans-serif;;
$font-beta: 'FontAwesome';
$font-weight-alpha: 200;
$font-weight-beta: 700;

// Breakpoints for media queries

$bp-alpha: "only screen and (max-width : 320px)";
$bp-beta: "only screen and (max-width : 480px)";
$bp-gamma: "only screen and (max-width : 768px)";
$bp-delta: "only screen and (min-width : 769px) and (max-width: 1024px)";

// @media #{$bp-alpha}

/*
alpha
beta
gamma
delta
epsilon
zeta
eta
theta
iota
*/


// A mixin for font conversion to pixels from rem
@mixin font-size($sizeValue: 1.6, $line: $sizeValue * 1.5) {
  font-size: ($sizeValue * 1) + px;
  line-height: ($line * 1) + px;
  font-size: ($sizeValue / 10) + rem;
  line-height: ($line / 10) + rem;
}

@mixin fade-all {
  @include transition(opacity 0.2s linear);
}

// Mixin and Variables for borders

@mixin border ($style, $sides...) {

    @if ($style != "") {

        @if ($sides == "") {
            border: $style;
        }

        @else {

            @each $side in $sides {

                @if ($side == 'top' or
                    $side == 'right' or
                    $side == 'bottom' or
                    $side == 'left')
                {

                border-#{$side}: $style;

                }
            }
        }
    }
}

$border-alpha: 1px solid $color-alpha;
$border-alpha-dark: 1px solid darken($color-alpha, 15%);
$border-beta: 1px solid $color-beta;
$border-beta-dark: 1px solid darken($color-beta, 15%);
$border-gamma: 1px solid $color-gamma;
$border-gamma-dark: 1px solid darken($color-gamma, 15%);
$border-alert: 1px solid $color-alert;
$border-alert-dark: 1px solid darken($color-alert, 15%);
$border-error: 1px solid $color-error;
$border-error-dark: 1px solid darken($color-error, 15%);
$border-success: 1px solid $color-success;
$border-success-dark: 1px solid darken($color-success, 15%);
$border-brand-blue: 1px solid $color-brand-blue;
$border-brand-blue-dark: 1px solid darken($color-brand-blue, 15%);
// End Border Styling Variables
