/* fonts */
$font-alpha: quicksand, sans-serif;
$font-beta: 'FontAwesome';

/* mixin for font conversion to pixels from rem */
@mixin font-size($sizeValue: 1.6, $line: $sizeValue * 1.5) {
    font-size: ($sizeValue * 1) + px;
    line-height: ($line * 1) + px;
    font-size: ($sizeValue / 10) + rem;
    line-height: ($line / 10) + rem;
}

/* colors */
$colors: (
    gray: (
        light: rgba(233, 238, 239, 1),
        mid: rgba(203, 215, 218, 1),
        dark: rgba(190, 190, 191, 1),
        white: rgba(255, 255, 255, 1),
        white--half: rgba(255, 255, 255, .5),
    ),

    blue: (
        light: rgba(112, 200, 196, 1),
        mid: rgba(69, 158, 155, 1),
        dark: rgba(74, 96, 103, 1),
        dark--two-third: rgba(74, 96, 103, .75),
    ),
    alert: (
        error: rgba(234, 29, 44, 1),
        error--dark: rgba(184, 0, 11, 1),
        success: rgba(32, 186, 44, 1),
        success--dark: rgba(0, 136, 0, 1),
        warning: rgba(255, 211, 44, 1),
        warning--dark: rgba(215, 176, 0, 1),
    ),
);

@mixin opacity ($attribute, $value: 0.5) {
  opacity: $value;
  filter: alpha(opacity= $value * 100);
  zoom: 1;
  #{$attribute}: $value;
}

@function palette($palette, $tone: 'base') {
    @return map-get(map-get($colors, $palette), $tone);
}

/* example mixin @include color(color, light-gray, 1); */
$color-beta: rgba(74, 96, 103, 1);  /* brand dark blue */
$color-gamma: rgba(190, 190, 191, 1);  /* brand dark gray */
$color-delta: rgba(112, 200, 196, 1); /* brand bright blue */
$color-epsilon: rgba(255, 211, 44, 1);  /* warning yellow */
$color-zeta: rgba(234, 29, 44, 1);  /* error red */
$color-eta: rgba(32, 186, 44, 1); /* success green */


/* colors at .75 opacity */
$color-alpha--two-third: rgba(233, 238, 239, .75);  /* brand light gray */
$color-beta--two-third: rgba(74, 96, 103, .75);  /* brand dark blue */
$color-gamma--two-third: rgba(190, 190, 191, .75);  /* brand dark gray */
$color-delta--two-third: rgba(112, 200, 196, .75); /* brand bright blue */
$color-epsilon--two-third: rgba(255, 211, 44, .75);  /* warning yellow */
$color-zeta--two-third: rgba(234, 29, 44, .75);  /* error red */
$color-eta--two-third: rgba(32, 186, 44, .75); /* success green */

/* padding and margins */
$pad-alpha: .5rem;
$pad-beta: 1rem;
$pad-gamma: 1.5rem;
$pad-delta: 2rem;
$pad-epsilon: 2.5rem;

$bp-alpha: "only screen and (min-width : 480px)";
$bp-alpha--end: "(max-width : 767px)";
$bp-beta: "only screen and (min-width : 768px)";
$bp-beta--end: "(max-width : 1023px)";
$bp-gamma: "only screen and (min-width : 1024px)";
$bp-gamma--end: "(max-width : 1170px)";
$bp-delta: "only screen and (min-width: 1171px)";
$bp-delta--end: "(max-width: 1223px)";
$bp-epsilon: "only screen and (min-width : 1224px)";
