/* sidebar for all of cosmo editing outside of the live editing done on page */
.sidebar {
    background-color: palette(gray, light);
    bottom: 0;
    height: 100%;
    left: -24rem;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 3.9rem;
    position: fixed;
    top: 0;
    transition: left .3s ease;
    width: 20rem;
    z-index: z(sidebar);
}

/* Sidebar transition to reveal sidebar from the left side of the screen. */
/**NEED TO CHANGE **/
.userSidebarSlideOut {
    left: 16.125rem;
}

/* Sidebar transition to reveal sidebar from the left side of the screen. */
/**NEED TO CHANGE **/
.adminSidebarSlideOut {
    left: 0;
}


/* active hamburger navigation before you open the sidebar */
.hamburger {
    position: fixed;
    top: 0;
    transition: left .3s ease;
    z-index: z(hamburger);

    i.hamburger {
        background-color: palette(gray, light);
        border-bottom: 1px solid palette(gray, mid);
        border-right: 1px solid palette(gray, mid);
        color: palette(blue, dark);
        font-size: 1.313rem;
        padding: 1.219rem 1.219rem;

        &:hover {
            background-color: palette(blue, dark);
            color: palette(gray, light);
            transition: all .25s ease;
        }
    }

    i.close {
        margin-left: -16.25rem;
    }
}

/**NEED TO CHANGE **/
.hamburgeractive {
    font-size: 1.094rem;
    left: 16.25rem;

    i.close {
        color: palette(gray, light);
        margin-left: 0;
        padding: 1.313rem 1.469rem;
        transition: all .3s ease;
        z-index: z(sidebar);
    }

    i.hamburger {
        left: -22.5rem;
    }
}

/* bar to be used at the top of each area of the sidebar */
.bar-top {
    background-color: palette(blue, light);
    height: 3.75rem;
    margin-top: -3.9rem;
    overflow: hidden;
    position: fixed;
    width: 20rem;

    h1 {
        color: palette(gray, white);
        margin-left: .313rem;
    }

    h2 {
        color: palette(gray, white);
        width: 9.375rem;
    }

    i {
        color: palette(gray, light);
        margin-left: 1.563rem;

        &:hover {
            color: palette(blue, dark);
        }
    }

    img {
        height: 3.75rem;
        width: 3.75rem;
    }

    .active {
        color: palette(alert, warning);
  }
}

/* username and logout styling for prfl-qk-view */
.prfl-info {
    display: inline-block;
    font-size: .85rem;
    height: 3.125rem;
    margin-left: .313rem;
    overflow: hidden;
    width: 7.813rem;

    p {
        color: palette(gray, white);
        margin-bottom: 0;
    }

    a {
        color: palette(gray, light);
        font-weight: 700;

        &:hover {
            color: palette(blue, dark);
        }
    }
}
