// Tag styling when editing or creating new pages
.tag-suggestions-triangle {
  @include triangle(2.8rem, $color-delta, up);
  margin: -$pad-beta 0 -.7rem .7rem;
}

.tag-suggestions {
  background-color: $color-delta;
  padding: $pad-epsilon * .25;
  margin-bottom: $pad-epsilon * .75;
  max-height: 26rem;
  overflow-y: scroll;

  a {
    @include font-size(14 * 1.25);
    display: block;
    padding: .5rem 0;
    font-weight: 700;
    @include color(color, light-gray);

    &:hover {
        color: lighten($color-delta, 20%);
    }
  }

  &:hover {
    .tag {
      background-color: lighten($color-delta, 10%);
    }
  }
}
