body {
    color: palette(blue, dark);
    font-family: $font-alpha;
    font-smoothing: antialiased;
    font-weight: 200;
    text-shadow: none;
}

span {
    letter-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: palette(blue, dark);
    font-family: $font-alpha;
    margin: 0;
}

h1 {
    color: palette(gray, light);
    display: inline;
    font-size: 1.25em;
    font-weight: 700;
    line-height: 3em;
    margin-left: 2rem;
}

h2 {
    color: palette(gray, light);
    display: inline;
    font-size: 1.25em;
    font-weight: 200;
    line-height: 3em;
    margin-left: .313rem;
}

h3 {
    font-size: 1.125em;
    line-height: 1;
    margin-bottom: 2rem;
}

h6 {
    color: palette(blue, dark);
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
}

label {
    color: palette(blue, light);
    display: inline-block;
    font-family: $font-alpha;
    font-size: 1em;
    font-weight: 200;
    margin-bottom: 1.5rem;
    margin-top: 0;
}

p {
    font-size: 1em;
    font-family: $font-alpha;
    font-weight: 200;
    line-height: 1.5;
    margin: 0 0 .625rem 0;

    &:active, &:focus {
        font-weight: 200;
  }
}

small {
    display: block;
    font-size: 85%;
}

a {
    color: palette(gray, dark);
    font-family: $font-alpha;
    text-decoration: none;
    transition: color .1s linear;

    &:hover {
        color: palette(blue, light);
    }

    &:active, &:focus {
        color: palette(blue, light);
        font-weight: 200;
        outline: none;
    }
}

hr {
    border-bottom: 1px solid palette(gray, mid);
    border-left: none;
    border-right: none;
    border-top: none;
}

img {
    margin: 0;
    width: 100%;
}
