%alert-style {
    background-color: palette(gray, dark);
    border-left: 5px solid;
    bottom: 1rem;
    color: palette(gray, white);
    font-family: $font-alpha;
    left: 35%;
    padding: 2rem;
    position: fixed;
    right: 35%;
    transition: opacity .25s ease;
    width: auto;
    z-index: z(alerts);
}

.alert-warning {
    @extend %alert-style;
    border-color: palette(alert, warning);
}

.alert-success {
    @extend %alert-style;
    border-color: palette(alert, success);
}

.alert-error {
    @extend %alert-style;
    border-color: palette(alert, error);
}

.alert-alert {
    @extend %alert-style;
    border-color: palette(blue, light);
}
