%button {
    background-color: palette(blue, dark);
    color: palette(gray, white);
    cursor: pointer;
    display: inline-block;
    font-family: $font-alpha;
    font-size: .7rem;
    font-weight: 500;
    letter-spacing: .03rem;
    margin: 0 size(25) 0 0;
    outline: none;
    padding: 1rem 2rem;
    text-align: center;
    text-transform: uppercase;

    &:hover {
        background-color: palette(blue, light);
        color: palette(gray, white);
    }

    &:last-child {
        margin-right: 0;
    }
}

button {
    @extend %button;
}
