input[type='file'] {
    float: left;
    margin: -size(10) * 7 0 0 0;
    opacity: 0;
    padding: 1.465rem;

    &:hover {
        cursor: pointer;
    }

    @media only screen and (max-width: 439px) {
        margin-top: -size(10) * 9;
    }
}

.dropzone {
    background-color: palette(blue, light);
    border: 2px dashed palette(blue, dark);
    height: 3.9063rem;
    margin-top: 1.5rem;
    text-align: center;
    transition: all .25s ease;

    &:hover {
        border: 2px dashed palette(gray, light);
        color: palette(blue, light);
        transition: all .25s ease;
    }

    &:active {
      @extend :hover;
    }
}

.ng-file-over {
    background-color: palette(blue, light);
    border: 2px dashed palette(gray, light);
    transition: all .25s ease;
}
