ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        overflow: hidden;
        padding: 1rem size(25);
        text-overflow: ellipsis;

        &:hover {
            background-color: palette(gray, light);

            a {
                color: palette(blue, dark);
            }
        }

        a {
            color: palette(blue, dark);
            display: block;
            font-size: .95rem;
            font-weight: 200;
        }

        .active {
            background-color: palette(blue, dark);
            color: palette(blue, light);
        }

        .cos-select-half {
            margin-bottom: 0;
        }

        p {
            display: inline-block;
            margin-bottom: 0;
        }

        //NEED TO CHANGE
        small {

            i {
                margin-right: size(5);
                vertical-align: middle;
            }
        }
    }
}

ul li ul {
    background-color: palette(gray, xlight);
    margin-left: -2.5rem;
    width: 130%;

    @media #{$bp-beta} {
        width: 31rem;
    }

    li {
        padding-left: 4rem;

        &:first-child {
            margin-top: 1rem;
        }

        &:hover {
            background-color: palette(blue, light);

            a {
                color: palette(gray, xlight);
            }
        }

        &:last-child {
          margin-bottom: -1rem;
        }
    }
}
