ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        overflow: hidden;
        padding: 1rem 1.563rem;
        text-overflow: ellipsis;
        transition: all .1s ease;

        &:hover {
            background-color: palette(gray, white--half);

            a {
                color: palette(blue, dark);
            }

            i {
                color: palette(blue, light);
            }
        }

        a {
            color: palette(blue, dark);
            display: block;
        }

        .active {
            background-color: palette(blue, dark);
            color: palette(blue, light);
        }

        .cos-select-half {
            margin-bottom: 0;
        }

        p {
            display: inline-block;
            margin-bottom: 0;
        }

        i {
            color: palette(blue, dark);
            margin-right: .75rem;
        }
        /**NEED TO CHANGE **/
        small {

            i {
                margin-right: .313rem;
                vertical-align: middle;
            }
        }
    }
}

ul li ul {
    background-color: palette(gray, mid);
    margin-left: -2.5rem;
    width: 21rem;

    li {
        padding-left: 4.3rem;
        transition: all .1s ease;

        &:first-child {
            margin-top: 1rem;
        }

        &:hover {
            background-color: palette(blue, dark);

            a {
                color: palette(gray, light);
            }

            i {
                color: palette(blue, light);
            }
        }

        &:last-child {
          margin-bottom: -1rem;
        }
    }
}

/* animations for dropdowns within cosmo */
ul.ng-hide-add.ng-hide-add-active, ul.ng-hide-remove,
ul.ng-hide-remove.ng-hide-remove-active, ul.ng-leave {
    opacity: 1;
    transition: linear 0.25s;
}

ul.ng-hide, ul.ng-leave-active, ul.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}
