%radio-check {
    background-color: palette(gray, light);
    border-color: transparent;
    color: palette(blue, dark);
    display: inline-block;
    margin-right: 0;

    &:before {
        font-family: $font-beta;
        margin-right: .313rem;
    }

    &:hover {
        background-color: palette(gray, mid);
        color: palette(blue, dark);
    }
}

/* hide the round disc and generic check button, we will use just the label as the radio button */
input[type=radio], input[type=checkbox] {
    display:none;
    margin: .625rem;
}


/* change the look of labels that are now covering the input button */
input[type=radio] + label {
    @extend %button;
    @extend %radio-check;
    padding: .7rem;
    margin-bottom: .313rem;

    &:before {
        content: "\f10c";
    }
}

/* change the look of checkbox labels */
input[type=checkbox] + label {
    @extend %button;
    @extend %radio-check;
    margin-bottom: 2rem;
    padding: .313rem + .2rem;

    &:before {
        content: "\f058";
    }
}

/* change background color for label to make it look selected */
input[type=radio]:checked + label, input[type=radio].active + label {
    background-color: palette(blue, dark);
    background-image: none;
    color: palette(gray, light);
    display: inline-block;

    &:before {
        content: "\f111";
    }
}

/* change background color for checkbox label to make it look selected */
input[type=checkbox]:checked + label {
    background-color: palette(blue, dark);
    background-image: none;
    color: palette(gray, light);
    display: inline-block;
}
