%radio-check {
    background-color: palette(gray, light);
    border-color: transparent;
    color: palette(blue, dark);
    display: inline-block;
    margin-right: 0;

    &:before {
        font-family: $font-beta;
        margin-right: size(5);
    }

    &:hover {
        background-color: palette(gray, mid--light);
        color: palette(blue, dark);
    }
}

// hide the round disc and generic check button, we will use just the label as the radio button
input[type=radio], input[type=checkbox] {
    display:none;
    margin: size(10);
}


// change the look of labels that are now covering the input button
input[type=radio] + label {
    @extend %button;
    @extend %radio-check;
    padding: .7rem;
    margin-bottom: size(5);

    &:before {
        content: "\f10c";
    }
}

// change the look of checkbox labels
input[type=checkbox] + label {
    @extend %button;
    @extend %radio-check;
    margin-bottom: 1.5rem;
    padding: size(5) + .2rem;

    &:before {
        content: "\f058";
    }
}

// change background color for label to make it look selected
input[type=radio]:checked + label, input[type=radio].active + label {
    background-color: palette(blue, light);
    background-image: none;
    color: palette(gray, light);
    display: inline-block;

    &:before {
        content: "\f111";
    }
}

// change background color for checkbox label to make it look selected
input[type=checkbox]:checked + label {
    background-color: palette(blue, light);
    background-image: none;
    color: palette(gray, light);
    display: inline-block;
}
