header {
    background-color: palette(gray, white);
    border-bottom: 1px solid palette(gray, mid--light);
    position: fixed;
    top: -10rem;
    transition: .2s ease-in 1s, top .35s ease-in 0s;
    width: 100%;
    z-index: z(sidebar);
}


header .social {
    display: none;

    a, i {
        display: none;
    }

    @media #{$bp-beta} {
        font-size: 1rem;
        margin-right: size(20);
        position: relative;
        top: -.2rem;

        i {
            color: palette(gray, mid--light);
            display: inline-block;
            transition: .15s ease-in;

            &:hover {
                color: palette(gray, dark);
            }
        }
    }
}

.head {
    height: 4rem;
    overflow: hidden;
}

.sticky {
    position: fixed;
}

.cos-scroll-transition {
    transform: translateY(-10rem);
}

.logo {
    flex: 2.5;
    height: auto;
    padding-top: 1rem;

    @media #{$bp-beta} {
        flex: 2;
        margin-left: 0;
    }

    img {
        height: 2rem;
        max-width: 7rem;
        width: auto;
    }

    .title {
        display: inline-block;
        font-size: 2rem;
        margin-bottom: 0;
        margin-top: -.5rem;
        position: relative;
        top: -.45rem;

        a {
            font-weight: 200;
        }

        @media #{$bp-beta} {
            margin-right: 1.5rem;
        }
    }

    .slogan {
        display: none;

        @media #{$bp-beta} {
            color: palette(gray, mid--light);
            display: inline-block;
            font-family: $font-beta;
            font-size: 1rem;
            font-style: italic;
            font-weight: 200;
            margin-bottom: 0;
            position: relative;
            top: -.7rem;
        }
    }
}

.nav-toggle {
    flex: 1;
    font-size: 1.5rem;
    margin-top: .95rem;
    text-align: right;

    @media #{$bp-beta} {
        flex: 1;
    }

    a {
        color: palette(gray, dark);
        display: inline-block;

        &:hover {
            color: palette(gray, mid);
        }
    }

    span {
        font-size: .5rem;
        font-weight: 200;
        margin-right: size(10);
        position: relative;
        top: -.25rem;
    }
}

.sticky {
    top: 0;
}
