// search styling for the container on the search area
.pen-search {
    background-color: palette(gray, white);
    border: 0;
    flex: 3;
    transition: .3s ease;

    form {
        display: inline-block;
        transition: 2s;
        width: 100%;

        &:before {
            color: palette(gray, mid--light);
            content: "\f002";
            font-family: 'FontAwesome';
            font-size: 1rem;
        }
    }

    input {
        border: 0;
        border-radius: 5rem;
        color: palette(gray, dark);
        font-size: 1rem;
        font-weight: 700;
        height: 2.5rem;
        margin-top: .75rem;
        transition: .25s ease-in;
        width: 35%;

        @include placeholder {
            color: palette(gray, mid--light);
            height: 4rem;
            opacity: 1;
            text-transform: uppercase;
            transition: .2s ease-in;
        }

        &:focus {
            background-color: palette(gray, light);
            padding-left: size(15);
            width: 95%;

            @include placeholder {
                opacity: 0;
            }
        }
    }
}

.search-results {
    background-color: palette(gray, white);
    display: none;
    left: 0;
    padding-top: 5rem;
    position: fixed;
    right: 0;
    width: 100%;
}

// text info for articles in search
.search-results--article {
    cursor: pointer;
    display: flex;
    height: auto;
    padding: size(20);

    article {
        flex: 5;
        margin-top: 0;
    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: .35rem;
        margin-top: 0;
    }

    h2 {
        font-size: 1rem;
        font-weight: 200;
        margin-top: 0;
    }

    .image {
        flex: 1;
        height: auto;
        margin-right: size(30);
        min-width: 12rem;

        img {
            height: auto;
            width: 100%;
        }
    }

    p {
        font-size: .8rem;
    }
}
