<div class="article--byline">
    <div class="byline-photo">
        <img ng-src="{{page.author.photo}}">
    </div>
    <div class="byline-info">
        <h5>{{page.author.name}}</h5>
        <p>{{page.author.bio}}</p>
    </div>
    <div class="article--comments pad-vert">
        <a ng-click="showComments=true;page.expandMenu=true">
            <i class="fa fa-comments"></i>
            <span class="number">{{page.commentsNum}}</span>
            <span class="number">comments</span>
            <!-- <span class="number disabled">comments disabled</span>-->
        </a>
    </div>
</div>
