<article class="article-row" ng-repeat="post in posts | filter:search:true">
    <div class="article--one">
        <a ng-href="{{post.url}}" ng-if="post.featured">
            <div class="article--img-side" style="background-image: url({{post.featured}});"></div>
        </a>
        <div>
            <a ng-href="{{post.url}}">
                <h1>{{post.header}}</h1>
            </a>
            <p>{{post.subheader}}</p>
            <div class="meta">
                <div class="category">
                    <a href="#">Posted in:<span>{{article.tag}}</span></a>
                </div>
                <div class="byline">
                    <a href="#">By <span>{{post.author}}</span> on <span>{{post.timestamp * 1000 | date:'MM/dd/yyyy'}}</span></a>
                </div>
                <div class="comments">
                    <a href="#"><i class="fa fa-comments"></i>285 Comments</a>
                </div>
            </div>
        </div>
    </div>
</article>