<div class="container article-border">
    <article class="article--two-right" ng-repeat="post in posts | filter:search:true | limitTo:2">
        <div class="img center">
            <img ng-src="{{post.featured}}">
        </div>
        <div>
            <a ng-href="{{post.url}}">
                <h2>{{post.header}}</h2>
            </a>
            <p>{{post.subheader}}</p>
            <div class="meta">
                <div class="byline">
                    <a>By <span>{{post.author.name}}</span> on <span>{{post.timestamp * 1000 | date:'MM/dd/yyyy'}}</span> <span ng-repeat="tag in post.tags">#{{tag}} </span></a>
                </div>
                <div class="comments">
                    <a><i class="fa fa-comments"></i>{{post.commentsNum}} Comments</a>
                </div>
            </div>
        </div>
    </article>
</div>
